[2017-05-05 14:37] zwz opened #7 "There is no NavLink"

[2017-05-06 07:09] bestguy commented on #7
Should be easy, will add in next few days

[2017-05-06 14:29] bestguy commented on #7
Added in #8 , released as version 0.11.0 on npm

[2017-05-06 14:29] #7 closed

[2017-05-28 17:44] spacehunter opened #9 "Uglifyjs fails when bundling components"
I'm using Svelte and this package to build a simple web app.  When I try to use uglifyjs on components I get an error...

(uglify plugin) Error transforming bundle with 'uglify' plugin: Unexpected token punc «(», expected punc «:»

If I remove the import statement for sveltestrap all is fine.

rollup.config.js

[code]

main.js

[code]

App.html

[code]

[2017-05-28 21:13] bestguy commented on #9
Based on your config, I'm wondering if since [rollup-plugin-commonjs](https://github.com/rollup/rollup-plugin-commonjs) converts the CJS module to ES2015, the rollup-plugin-uglify does not support ES2015 without some overrides:

https://github.com/TrySound/rollup-plugin-uglify#warning

I can take a look, but sveltestrap should just be exporting a typical CommonJS module afaik

[2017-05-30 04:25] bestguy commented on #9
@spacehunter I see your same error with your config, but based on my comment above I was able to resolve it via adding uglify-es, here is a simplified example:

[code]

Can you confirm this use of uglify-es resolves your issue?

[2017-06-01 20:55] bestguy commented on #9
Closing for now, as believe this resolves above.

[2017-06-01 20:55] #9 closed

[2017-08-20 05:37] bestguy opened #11 "Bootstrap 4 Beta compatibility"
Placeholder for issues

[2018-05-12 17:11] bestguy commented on #11
Basic support in #12

[2018-05-12 17:11] #11 closed

[2019-05-16 16:59] TheBosZ opened #13 "Svelte v3 compatibility"
Now that v3 of Svelte is out, are you interested in upgrading this library to be compatible?

I've [started a fork](https://github.com/TheBosZ/sveltestrap) to work on updating the components to be compatible with v3.

[2019-05-18 21:08] jacwright commented on #13
I'm interested in v3 as well. I will check out your fork.

[2019-05-24 19:43] btakita opened #14 "Componentize all SCSS"
To make the payload as light as possible, it would be beneficial to componentize all SCSS.

The bootstrap *.scss libraries can be encapsulated within a component that uses global styles. The https://www.npmjs.com/package/@ctx-core/sass package has a sass/scss & global css preprocessor.

This could be the bootstrap base component:

[code]

[code]

This could be a widget (e.g. carousel):
[code]

[2019-05-24 20:04] btakita commented on #14
Related discussions:

https://github.com/sveltejs/svelte/issues/1070

https://github.com/sveltejs/svelte/issues/379

[2019-05-25 04:54] bestguy commented on #13
Awesome @TheBosZ , would love to, just hadn't the time recently.  PRs very welcome!

[2019-05-25 04:58] bestguy commented on #14
Looks interesting, thanks @btakita .
When I started the project, one of the main usecases was to allow for external Bootstrap theming (for example https://www.bootstrapcdn.com/bootswatch/).

This encapsulation would embed only one particular Bootstrap theme though?

[2019-08-06 19:38] #13 closed

[2019-08-07 05:47] bestguy opened #18 "Add tests"
Haven't kept up with Svelte testing best practices, but this project needs unit tests..

Perhaps try out https://github.com/bahmutov/cypress-svelte-unit-test

[2019-08-12 10:34] vizo opened #19 "Demo page is not working"

[2019-08-12 15:30] bestguy commented on #19
Ah thanks, I'm currently updating docs and didn't realize the old one had broken.
Will update soon.

[2019-08-12 20:20] bestguy commented on #19
Hey @vizo , docs should be back up: https://bestguy.github.io/sveltestrap

Let me know if you see any other issues, thanks for the heads up.

[2019-08-12 20:20] #19 closed

[2019-08-14 17:14] bestguy opened #29 "Correct docs build"
It's in weird state after Svelte 3 merge, requires manually updating docs folder...

[2019-08-14 17:17] bestguy opened #30 "Missing Carousel"
Carousel is not implemented:
https://getbootstrap.com/docs/4.3/components/carousel/

[2019-08-14 17:18] bestguy opened #31 "Missing Tooltip"
Tooltip is not implemented:
https://getbootstrap.com/docs/4.3/components/tooltips/

Needs Popper/tether support.

[2019-08-14 17:19] bestguy opened #32 "Missing Popover"
Popover is not implemented:
https://getbootstrap.com/docs/4.3/components/popovers/

Needs Popper/tether support.

[2019-08-14 17:22] bestguy opened #33 "Docs direct links broken"
Direct links to components, ex: https://bestguy.github.io/sveltestrap/components/badge, are broken and show 404.

Might be issue with svelte-routing config

[2019-08-15 17:23] bestguy commented on #18
Taking a look at: https://github.com/testing-library/svelte-testing-library

Looks promising.

[2019-08-16 00:52] bestguy commented on #18
WIP: https://github.com/bestguy/sveltestrap/pull/35

[2019-08-16 16:48] bestguy opened #36 "Spread props, events"
Looks like we don't support many props and event handlers unless specifically added to interface.

I need to catch up with Svelte 3 but doesn't look like it supports spread props ala React: `{...props}`.  May need to add them all individually, although this Svelte PR seems to add `on:*` event support: https://github.com/sveltejs/svelte/pull/3349

[2019-08-20 01:13] bestguy commented on #36
Looks like Svelte does support this, but difficult to optimize:
https://svelte.dev/docs#Attributes_and_props

Ex:
[code]

Probably should use this for now on all components to ensure usage is correct, then can optimize after.

[2019-08-20 03:06] bestguy opened #38 "Remove ListGroupItemHeading, ListGroupItemText"
ListGroupItemHeading, ListGroupItemText are not in Bootstrap 4, they are old Bootstrap 3 classes.  Need to remove.

[2019-08-20 03:11] bestguy commented on #18
Also: https://github.com/bestguy/sveltestrap/pull/37

[2019-08-20 03:23] bestguy commented on #38
https://github.com/bestguy/sveltestrap/pull/39

[2019-08-20 16:49] bestguy commented on #36
https://github.com/bestguy/sveltestrap/pull/40

[2019-08-25 00:03] bestguy commented on #33
Fixed with #41

[2019-08-25 00:03] #33 closed

[2019-08-25 00:03] bestguy commented on #29
Fixed with #41

[2019-08-25 00:03] #29 closed

[2019-08-25 00:04] #38 closed

[2019-09-05 04:30] bestguy commented on #36
#40 is merged, _should_ cover props.

Missing still is the various `on:*` event handlers.

[2019-09-05 04:30] bestguy commented on #18
Tests have been started and merged, will update this issue with missing component tests.

[2019-09-05 04:44] bestguy opened #44 "Take advantage of slots"
We could probably improve many components by adding slot supports for headers, etc vs having to manually nest CardHeader, CardFooter, ToastHeader, alert-heading classes, etc.

[2019-09-05 05:08] bestguy opened #45 "Spread props break inputs"
(Or at least the docs, investigate.)

3.1.0 was unpublished from npm, but issue still effects master.

[2019-09-05 08:30] shedali opened #46 "adding card component breaks sapper nav"
- install sapper template `npx degit "sveltejs/sapper-template#rollup myapp`
- install sveltestrap, include css from cdn
- include card component
[code]

The component renders, but when I change tabs, I get the following console error:

[code]

repro at https://codesandbox.io/s/7synm

[2019-09-06 05:18] bestguy commented on #46
Hmm, this is odd, thanks for the heads-up.
It's actually any component, not just Card.
I haven't used Sapper but do you know where the transitions are being applied?  I see
transition_out, and outro mentioned but don't see any transitions in the code or when changing pages.

[2019-09-06 15:13] shedali commented on #46
I'm also new to Sapper; will let you know if I get any more info

[2019-09-08 15:47] bestguy commented on #45
Fixed in #47 , v3.1.1

[2019-09-08 15:47] #45 closed

[2019-09-08 15:48] bestguy commented on #36
Renaming issue to just cover missing events

[2019-09-10 14:26] telemmaite commented on #36
@bestguy  what do you recommend as a work around I have an input `type search`, after entering 3 letters I would like to run backend fetch. I was planning to use `on:input` and see if the string/query size is >= 3.
Maybe changing `Input` to `input` is enough

[2019-09-14 02:57] bestguy commented on #36
Hi @telemmaite , actually this should work:

[code]

You don't need to use `on:input` directly, although do plan to support passing event handlers.

[2019-09-17 04:42] CaptainN opened #48 "Support SSR"
I have created a simple [Svelte starter for Meteor](https://github.com/CaptainN/meteor-svelte-starter), and it was reported that [`sveltestrap` doesn't work with my SSR solution](https://github.com/CaptainN/meteor-svelte-starter/issues/1). I believe this is because your component is published in a pre-compiled state, instead of providing raw source and exposing that through a `svelte` key in `pack

[2019-09-19 10:26] LaughingBubba opened #49 "sveltestrap / svelte-routing problem"
# Problem

```svltestrap``` components don't want to play nicely with ```svelte-routing``` navigate function.

When implementating a scenario like:
[code]
the script crashes with opaque message like:
[code]

I've made a repo that replicates the problem here: https://github.com/LaughingBubba/sveltestrap-problem

PS: Luv your work!

[2019-09-21 03:18] bestguy commented on #48
Thanks for the the heads up @CaptainN , will take a look at the Svelte 3 options.  I seem to remember a SSR option in Svelte or Rollup, will see if something can add there.  I'm reluctant to include source in npm tarballs but can do so if is the recommended approach.  Will look within next week.

[2019-09-21 03:19] bestguy commented on #49
Thanks @LaughingBubba , will take a look.  This maybe related or similar to #46

[2019-09-21 15:16] bestguy commented on #48
I've published a beta version of `sveltestrap@3.1.2-0`, I will try out with your template as well.
PR is https://github.com/bestguy/sveltestrap/pull/50 and will merge after I can confirm this works.

[2019-09-21 15:19] bestguy commented on #46
Hi @shedali , I've published a beta version for another which might correct your issue.

Can you please try `npm install sveltestrap@3.1.2-0` and confirm?

[2019-09-21 16:17] bestguy commented on #49
Hi @LaughingBubba , I believe this will be fixed with #50

If you'd like to try out, please use the pre release here:
`npm install sveltestrap@3.1.2-0`

I tested on on your problem repo (thank you for doing that) and seems to resolve.  After merge, will likely publish as 3.2

[2019-09-21 17:31] bestguy commented on #46
Hi again @shedali , I tested this in sapper, and looks like #50 will resolve this.
Before it's merged, you should be able to use this prerelease:

`npm install -D sveltestrap@3.1.2-0`

(-D is important to add it to dev dependencies, as explained here: https://github.com/sveltejs/sapper-template#using-external-components)

[2019-09-21 18:54] victorhcortesp opened #51 "Problem Modal Cannot read property 'c' of undefined"
this error happens when you want to close the modal

Error:
`index.mjs:676 Uncaught (in promise) TypeError: Cannot read property 'c' of undefined`

[code]

[2019-09-21 18:58] bestguy commented on #51
Hi @victorhcortesp , there seems to be a problem with some builds with sapper, SSR, etc.

Can you please try `npm install -D sveltestrap@3.1.2-0` and let me know if resolves?
This is a pre-release version for #50 PR.

[2019-09-22 01:04] shedali commented on #46
that works thanks @bestguy

[2019-09-22 02:07] bestguy commented on #46
Cool, I'll plan on merging and publishing 3.2 in the next few days.  I'll close this issue at that time.

[2019-09-22 02:39] bestguy commented on #46
Fixed in https://github.com/bestguy/sveltestrap/releases/tag/v3.2.0

[2019-09-22 02:39] #46 closed

[2019-09-22 02:41] bestguy commented on #48
Published fix in v3.2 (https://github.com/bestguy/sveltestrap/releases/tag/v3.2.0), I'll leave this open until one of us can confirm works with your template.

[2019-09-22 03:10] LaughingBubba commented on #49
W00t! It works. Thanks. Sooo ... how far off is 3.2 from being published?

[2019-09-22 04:32] bestguy commented on #49
Done!  https://github.com/bestguy/sveltestrap/releases/tag/v3.2.0

Thanks for the heads-up.  Will close, let me know if you see any issues.

[2019-09-22 04:32] #49 closed

[2019-09-22 18:18] bestguy commented on #51
I've published v3.2 (https://github.com/bestguy/sveltestrap/releases/tag/v3.2.0) if you can try out and confirm corrects your issue

[2019-09-23 13:44] victorhcortesp commented on #51
Try version 3.2 and solve the problem, but I am seeing some alerts in the console

Here is the example where I am using it
https://github.com/victorhcortes/intro_svelte/tree/implement_sveltestrap

![image](https://user-images.githubusercontent.com/38927248/65430720-f8037d80-dddd-11e9-9cc5-f1ac733ca146.png)

[2019-09-23 15:51] bestguy commented on #51
Thanks @victorhcortesp,
Those alerts sounds unrelated, but can you post your sample code here or in a gist?

[2019-09-23 15:58] bestguy commented on #48
I tested out using your template and unfortunately this is same error:

```Error running template: Error: <Card> is not a valid SSR component. You may need to review your build config to ensure that dependencies are compiled, rather than imported as pre-compiled modules```

It looks like Svelte has a `generate: 'ssr'` option (https://svelte.dev/docs#svelte_compile), but it's really not clear to me

[2019-09-23 16:10] bestguy commented on #48
Oh - actually this does work, however you must import the source directly @abigtoe,

[code]

There is a "svelte" key in package.json, so unsure why the svelte SSR or template is not supporting this syntax:

[code]

I'll investigate if there is anything I can do in this library, but if not will close this week.

[2019-09-23 16:29] victorhcortesp commented on #51
code where you implemented the modal component

[code]

[2019-09-25 14:15] bestguy opened #54 "Initialize children props to avoid "was created without expected prop blah""
Svelte complains about `<ModalHeader> was created without expected prop 'children'`

Need to initialize all these to `undefined` to avoid this:

[code]

[2019-09-25 14:16] bestguy commented on #51
Thanks @victorhcortesp , looks like a different issue, we need to make sure props are initialized with `undefined` to avoid this.   I created a new issue (#54) and will close this one.

[2019-09-25 14:16] #51 closed

[2019-09-25 14:28] bestguy commented on #54
Hi @victorhcortesp, this should be corrected in sveltestrap 3.2.1

[2019-09-25 14:28] #54 closed

[2019-09-28 13:20] zhryn opened #56 "Collapse not working"
I'm trying to use a Navbar component. I have an issue with the collapse component. The hidden area won't show when I click the NavbarToggler component but the variable isOpen value has changed.

[code]

[2019-09-28 14:33] bestguy commented on #56
Hi @zhryn looks like Collapse does not work on mobile size, I think there is some bad logic here: https://github.com/bestguy/sveltestrap/blob/master/src/Collapse.svelte#L31

I'm not sure why this conditional is there but will look to correct this weekend.

[2019-09-28 15:09] bestguy commented on #56
Hi @zhryn sorry GitHub closed this issue automatically when I merged PR.

This should be corrected in sveltestrap 3.2.2 (https://github.com/bestguy/sveltestrap/releases/tag/v3.2.2) , can you please try and confirm it corrects your issue?
You can reopen if not.

[2019-09-28 18:28] RaulVS14 opened #59 "[Navbar] Collapse elements not visible when area is big enough"
Collapse elements should remain visible in desktop and only disappear into togglable mode when the screen isn't wide enough
Current state (collapse element link are not visible)
![image](https://user-images.githubusercontent.com/8948348/65820805-24802500-e236-11e9-8e78-855dfa26db78.png)

Expected( currently only achieved using the toggle in mobile view and then it's possible to see them in desktop

[2019-09-28 23:42] bestguy commented on #59
Hi @RaulVS14 , we just released [v3.2.2](https://github.com/bestguy/sveltestrap/releases/tag/v3.2.2) this morning, which fixes a related issue.  Can you please try v3.2.2 and confirm if you still see this issue?

[2019-09-29 04:06] bestguy commented on #59
Hi @RaulVS14 actually this should be fixed in [sveltestrap 3.2.3] (https://github.com/bestguy/sveltestrap/releases/tag/v3.2.3), thanks for the heads up.
Please confirm your issue is corrected and can close the issue.

[2019-09-30 09:11] RaulVS14 commented on #59
Yes, issue is corrected. I had an problem with using it in my environment though. It gave me `window is not defined` error. The problem occurred from Collapse for windowWidth. I managed to get it working by wrapping it in the onMount method. I also defined windowWith variable outside the method onMount, because svelte:window couldn't find it.

[2019-09-30 13:03] hmmhmmhm opened #61 "No bind on switch"
[code]

it works but, can't be use `bind:checked`.

[2019-10-01 04:08] bestguy commented on #59
Hi Raul, hmm, that's weird.  It this a normal app or SSR?

[2019-10-01 04:09] bestguy commented on #61
Thanks for the heads-up, will correct this week.

[2019-10-01 10:28] RaulVS14 commented on #59
I am not sure, I've seen SSR errors, so I guess it's SSR.
My current setup:
I started with sapper template running in local with npm dev run. To this I added sveltetrap for bootstrap functionality.

[2019-10-01 14:21] bestguy commented on #59
Thanks, I'll test with Sapper.
FYI in SSR environments you may need to import the component src directly:

`import Card from 'sveltestrap/src/Card.svelte';`

but am still trying to determine the 'correct' way for Svelte 3, has been a lot of changes.

[2019-10-01 14:21] abigtoe commented on #48
@bestguy Confirmed, the direct import approach does work. Thanks.

[2019-10-01 14:22] bestguy commented on #48
Thanks!  I'll close this for now, I appreciate the heads up.

[2019-10-01 14:22] #48 closed

[2019-10-01 18:12] larryosborn commented on #48
This also works:
`import { Card } from 'sveltestrap/src';`

[2019-10-02 03:13] bestguy commented on #61
Actually `<Input type="checkbox" bind:checked />` has same issue.. will correct at same time

[2019-10-02 05:26] CaptainN commented on #48
Thanks @bestguy !

[2019-10-02 18:02] RaulVS14 commented on #59
Yes, thank you! I changed the import, when I got SSR errors.

[2019-10-04 02:55] #59 closed

[2019-10-06 05:15] jlith opened #63 "util.js: Edge doesn't support property "rest" for objects."
While testing out the library I noticed that on Edge it didn't work, and traced the issue to the function "clean" and in it to "...rest", inside util.js:

[code]

`So I changed it to this to get it working:

[code]

[2019-10-06 14:13] bestguy commented on #63
Oh thanks, this should be transpiled in or your solution, will take a look thanks!

[2019-10-06 17:29] bestguy commented on #63
Hi @jlith , thanks for the PR for this.  Would you mind trying installing and trying `sveltestrap@3.2.5-0`?   This version enables object spread in the transpilation.  I'll try later this weekend as well.

[2019-10-06 18:30] bestguy opened #66 "Input type="radio" or "checkbox" group binding does not work"
`bind:group={...}` does not work with Input.  For example:

[code]

https://svelte.dev/examples#group-inputs

[2019-10-07 06:08] jlith commented on #63
Hi! Installed that with "npm i sveltestrap@3.2.5-0". The util.js seems to be the same as previous? So it doesn't work in Edge.

[2019-10-07 15:57] bestguy commented on #63
Thanks, just to confirm are you importing from the lib like:

`import { Card } from 'sveltestrap';`

or:

`import Card from 'sveltestrap/src/Card.svelte';`

?

If the second transpiling won't help, and we'd need your PR solution.  Importing from src requires the user or browser to support object spread.

If the first, my PR is probably incorrect and not transpiling correctly.

[2019-10-07 17:13] jlith commented on #63
Like the 1st option:
![image](https://user-images.githubusercontent.com/38461562/66333113-e9b97380-e93e-11e9-8de4-fb13b9277d78.png)

[2019-10-13 17:01] RKasinCDRK opened #67 ""window is not defined" in SSR/Sapper when using NavbarToggler/Collapse"
I've read through a few issues already and there were multiple mentions of importing the source directly for components when using Sapper and that fixing people's issues when combining SSR and NavbarToggler/Collapse. Unfortunately, that did not solve it for me.

It did allow me to render the Navbar, however, when adding NavbarToggler/Collapse to the picture, my app seems to need the window context

[2019-10-13 18:01] bestguy commented on #63
Hi @jlith, your PR has merged and released with sveltestrap@3.2.5 (https://github.com/bestguy/sveltestrap/releases/tag/v3.2.5)

I was unable to figure out Rollup+Babel issues so thanks for the fix for now.

[2019-10-13 18:05] bestguy commented on #67
Hi @RKasinCDRK , thanks for the heads up, I'll take a look. The Svelte 3 SSR situation is very confusing to me as I see different configurations for this, and not totally clear what the official way to support this is.  Sapper seems to still be developing too..

[2019-10-13 18:17] bestguy commented on #67
Hi again @RKasinCDRK - can you please try sveltestrap@3.2.6-0 and let me know if this corrects your issue ?  This is a prerelease that defensively checks for `window`.

You'll need to install via:
`npm install sveltestrap@3.2.6-0`

[2019-10-13 18:29] RKasinCDRK commented on #67
Hi @bestguy, thank you for your fast answer!

It did indeed solve the problem entirely for me.

Thank you very much for the help, I'll close the isse.

[2019-10-13 18:29] #67 closed

[2019-10-13 18:29] bestguy commented on #67
Great thanks, I'll publish 3.2.6 today, which you can use instead of prerelease.

[2019-10-13 19:53] bestguy commented on #67
Published in [v3.2.6](https://github.com/bestguy/sveltestrap/releases/tag/v3.2.6)

[2019-10-13 19:55] bestguy commented on #56
Hi @zhryn, this should be corrected now, please reopen if you see issue with version 3.2.2 or later.

[2019-10-13 19:55] #56 closed

[2019-10-13 20:02] bestguy commented on #61
Hi @hmmhmmhm ,
This should be corrected in version [3.2.5](https://github.com/bestguy/sveltestrap/releases/tag/v3.2.5)

Can you please confirm and we can close the issue.

[2019-10-13 20:08] hmmhmmhm commented on #61
Perfect

[2019-10-13 20:08] #61 closed

[2019-10-14 18:37] lasergoat opened #70 "Question - using https://themes.getbootstrap.com"
Hello, I want to use Bootstrap with a new Svelte project I'm working on - but I'd like to use a theme from https://themes.getbootstrap.com or even something like this: https://demos.creative-tim.com/argon-design-system/index.html

is it possible to use these themes with Svelte or sveltestrap?

[2019-10-16 07:10] telemmaite opened #71 "Nested async components error when switching components"
Hello, please take a look at the following two comments.
https://github.com/sveltejs/svelte/issues/3448#issuecomment-530331354
https://github.com/sveltejs/svelte/issues/3448#issuecomment-541386356

I think as mentioned here:

You can see that comment and my comment afterwards stating what I did here: #3671 (comment)
If this is the problem that's being discussed here then **_it would seem that proj

[2019-10-18 20:53] macsupport commented on #66
Likewise, `on:input="{...}` does not work with `<Input type= "number"` but does with `<input type="number"`
 Here is what I am using:
[code]

[2019-10-19 20:01] bestguy commented on #66
Thanks @macsupport , this is tracked in #36 and plan to support soon, especially for common ones like input, change, hover, etc.

However the "official" way to use Input is:

[code]

and you'd call `setBothFromK` when value changes.  Let me know if this works for you, and will also fix #36 hopefully soon.

[2019-10-19 20:09] bestguy commented on #70
Hi @lasergoat , yes you can use themes.  The easiest way is to include the Bootstrap theme in your layout head tag:

[code]

<img width="597" alt="Screen Shot 2019-10-19 at 1 05 00 PM" src="https://user-images.githubusercontent.com/405608/67150839-a4b40c00-f271-11e9-866b-5b3c601596e9.png">

[2019-10-19 20:17] bestguy commented on #71
Thanks for the heads up @telemmaite
We've had a lot of trouble know what the 'official' support for pre-bundled components are -
there's been SSR issues, suggestions to add svelte source files to bundle, etc.
Svelte 3 seems like a work in progress in this area compared to Svelte 1-2...

I'll see what we can do to improve this, thanks for the issue links

[2019-10-19 21:48] #71 closed

[2019-10-20 15:46] bestguy commented on #66
Am addressing common Input events with: https://github.com/bestguy/sveltestrap/pull/72
Will publish soon after merge.

[2019-10-20 16:34] bestguy commented on #66
@macsupport Your Input use case should be fixed in sveltestrap@3.2.7

[2019-10-24 04:31] bestguy commented on #70
Closing as answered, please reopen if not resolved @lasergoat

[2019-10-24 04:31] #70 closed

[2019-10-28 08:27] nkev opened #76 "Page JS weight"
Svelte newby here, so please forgive me if this seems like a silly question.
Isn't Svelte supposed to **reduce** the overall page weight? I'm seeing the sveltestrap page JS weight is many times the size of jQuery/Bootstrap 4 version. What am I missing?

[2019-10-29 01:04] bestguy commented on #76
Mind sharing a repo or sample?  Webpack, Rollup, etc?
Svelte is designed to compile away any frameworks down to vanilla JS.
However Svelte 3 is a big change and app developers or this lib might be missing something.

[2019-10-29 01:20] nkev commented on #76
Sure. I'm just talking about the size of the JS payload in the browser:

![image](https://user-images.githubusercontent.com/5410916/67729757-70e19f00-fa46-11e9-9051-0054f2e1c137.png)

versus:

![image](https://user-images.githubusercontent.com/5410916/67729764-76d78000-fa46-11e9-90b1-d6572774040f.png)

[2019-10-29 03:12] bestguy commented on #76
I see, if you are comparing the Storybook docs, that is a different beast! - I think storybookjs is internally using React and other libraries, not Svelte.  (The stories are written in Svelte though)

Here is a Hello World app using [Sapper](https://sapper.svelte.dev) and Sveltestrap:

<img width="670" alt="Screen Shot 2019-10-28 at 8 09 41 PM" src="https://user-images.githubusercontent.com/405608

[2019-10-29 03:16] bestguy commented on #76
Try out the Svelte quick start (https://svelte.dev/blog/the-easiest-way-to-get-started) or  [Sapper](https://sapper.svelte.dev/) for more power.  Both should demonstrate small code sizes.

Will close but feel free to reopen if you see a size issue with this lib.

[2019-10-29 03:16] #76 closed

[2019-10-29 03:29] nkev commented on #76
I see. Thanks for that. So to be clear, in my Sveltestrap screenshot above, which JS files are from the Sveltestrap project? If it's just the 2 in the IFRAME than that's still over 300K compared to 45K in Bootstrap right? I'm just trying to get a comparative feel.

[2019-10-29 03:32] nkev commented on #76
Thanks for the Sapper tip BTW. I'm using Go in the back-end though so I'm really only evaluating Svelte and whether I can really drop jQuery and go with Sveltestrap (but only if it's leaner).

[2019-10-29 14:21] gthomas-appfolio commented on #76
@nkev it's really hard to separate them as storybook bundles everything together, and the svelte part is just via a plugin.  You should not be looking at Sveltestrap storybook to determine Svelte bundle sizes - it's a React, not a Svelte app.

[2019-10-29 20:26] nkev commented on #76
Thanks @gthomas-appfolio, I understand that. I thought maybe only the 432K JS file would be the storybook bundle and one of the other two JS files (inside  the iframe) could be sveltestrap, but without looking into the JS files I could be wrong, of course. Are there any other known sveltestrap public sites that I could check out?

[2019-11-03 19:41] mcvladthegoat commented on #31
@bestguy  i'll try to do this :)

[2019-11-03 23:51] lucianoratamero commented on #30
hey, @bestguy , good evening!

I spent some time trying to figure the best approach on how to implement this (I'm still new to svelte), and I stumbled into this project here: https://github.com/thednp/bootstrap.native/

they seem to reimplement bootstrap plugins without jquery.
it could save us some time if we could make use of that to implement the Carousel, since the components would only need t

[2019-11-04 05:13] bestguy commented on #30
Hi @lucianoratamero, thank you for the help.
Yes I have looked at that in the past, however there were some philosophic differences with the library's author in that he felt is was okay to deviate from Bootstrap's behavior, and generally closing all issues rapidly.  Made me a little nervous to depend on it directly, but if you have a start that would be great!

It's under MIT license so we could a

[2019-11-04 05:17] bestguy commented on #30
Also if it helps, Reactstrap is a React version of Bootstrap components, and their implementation might be good inspiration/guidance: https://github.com/reactstrap/reactstrap/blob/master/src/Carousel.js

[2019-11-17 23:51] bgreenacre commented on #32
@bestguy I have created a svelte component you might want to look at.

https://github.com/bgreenacre/svelte-popper

It's loosely based on react-popper (based on popper.js). Still a work in progress and I'm still learning some things about the node/npm ecosystem but I'd like your feedback on it. You can see a super basic example of it if you run `npm run dev`.

[2019-11-18 03:00] bestguy commented on #32
Awesome @bgreenacre !   I would love to try it out.  Will let you know if I can integrate it into this.

[2019-11-24 11:55] anthonycollini opened #77 "Styles Overwritten"
I have an issue with styles being overwritten and would like some information on how to fix it.

In a component, I import the `Card`, and related, components from sveltestrap.

When I add `CardTitle` to my markup, I see that sveltestrap adds it as a div, rather than the h5 in the bootstrap docs that allows for the proper styling.

To change the styling for all CardTitles in my app, I add a `.card-

[2019-11-24 12:05] anthonycollini commented on #77
This was some kind of issue with the compiler caching global.css. Did a hard refresh and it seemed to fix the issue.

[2019-11-24 12:05] #77 closed

[2019-11-27 05:00] bestguy commented on #77
We could use h5 as tag, was probably an oversight

[2019-11-27 05:01] bestguy opened #78 "Use h5 etc for CardTitle"
Currently using a div

[2019-11-27 05:01] bestguy commented on #77
https://github.com/bestguy/sveltestrap/issues/78

[2019-12-11 20:37] frederikhors opened #80 "Useless "toggle" attribute in Modal code"
Using Modal I noticed a strange thing also in the Storybook one:

![image](https://user-images.githubusercontent.com/41120635/70658411-39c5f680-1c5e-11ea-9cb6-10ed48f14412.png)

Do you see the `toggle="()=>$$invalidate("open",open=!open)"` string in div?

I think it comes from `<div {...props}` in `Modal.svelte`.

Do we really need it?

[2019-12-12 03:34] bestguy commented on #80
Thanks for the heads-up, let me take a look.

[2019-12-12 19:59] frederikhors opened #81 "Unused export properties..."
Some of them...

[code]

[2019-12-14 18:23] bestguy commented on #81
Thanks @frederikhors , will fix up.

[2019-12-21 21:23] frederikhors commented on #81
@bestguy, all PRs updated with deletions.

[2019-12-22 02:28] satb commented on #80
First of all, thank you so much for putting this together. I am still trying to see if I can use it.

For some reason, even though I try to close the modal, it won't close. So, the html shows this, but modal is still open.

![image](https://user-images.githubusercontent.com/2095367/71316111-9b851e00-241f-11ea-8401-613f3d3b62e6.png)

[2019-12-22 09:49] bestguy commented on #80
Hi @satb did you follow the example in the documentation?
 https://bestguy.github.io/sveltestrap/?path=/story/components--modals

It seems to work fine there

[2019-12-22 10:04] bestguy commented on #81
Thanks @frederikhors , will merge and release in next couple days

[2019-12-22 10:34] frederikhors commented on #81
I can help you on this. Please think about giving me merge permits. Thank you.

[2019-12-22 10:35] frederikhors commented on #81
I need this edits in my CI/CD ASAP. Thanks again.

[2019-12-22 15:55] satb commented on #80
@bestguy - Seemed like some caching issue with the css in the browser. Started working without changing anything. Thank you so much.

[2019-12-22 16:38] frederikhors commented on #80
@satb the issue here is different.

[2019-12-22 17:42] bestguy commented on #81
Hi @frederikhors I've merged about half the PRs for these unused props,
However the remainder look like they are actually small bugs, and the props should be used in some way.

I'll attempt a separate PR today to correct these, if they cover the remaining open PRs I'll close those.  Thanks for the find and fixes!

[2019-12-22 18:30] bestguy commented on #81
Work in progress if would like to look over, will complete later tonight:
https://github.com/bestguy/sveltestrap/pull/98/files

[2019-12-24 04:03] bestguy commented on #81
Hi @frederikhors I've merged many of your PRs and hopefully corrected others with #98 .

I've published as v3.2.9:
https://github.com/bestguy/sveltestrap/releases/tag/v3.2.9

Can you please try out this release and let me know if resolves this issue.
Also, can you share your tooling or config that found these errors to begin with? We can add to our test/lint.

[2019-12-29 02:51] frederikhors commented on #81
Everything OK!

Simply `rollup-plugin-svelte`.

[2019-12-29 02:51] #81 closed

[2019-12-30 17:47] bestguy commented on #81
Great, thank you for the help!

[2019-12-31 21:37] daytonlowell commented on #78
What about leaving it as a div but applying the BS4 `h5` class to the div by default? Probably have to write some logic so that we don't apply that default class if they pass in `h1` -> `h6` classes.

Source: https://getbootstrap.com/docs/4.4/content/typography/#headings

[2019-12-31 21:40] daytonlowell commented on #30
I'm playing around with implementing this. As far as the API is concerned, how much do we want to match what the BS jQuery JS does? Do we need to support `data-` attributes like `data-slide="prev"`?

[2019-12-31 22:01] bestguy commented on #78
Thanks, we could, however the `.card-title` class is what defines the look, so `.h5` for styling isn't really needed.  The h* tag is mostly for semantics here.

[2019-12-31 22:04] bestguy commented on #30
Thanks @daytonlowell , was thinking the component-based approach like Reactstrap Carousel uses: https://reactstrap.github.io/components/carousel/

would be a good approach for this.

[2019-12-31 22:06] daytonlowell commented on #78
That's fair, though if we're going this route we'll probably need to expose some way for them to use any of the `h*` tags? Probably don't want to force them into `h5`?

[2019-12-31 23:11] bestguy commented on #78
Hmm, true.  I was going by the examples here which all use h5: https://getbootstrap.com/docs/4.4/components/card/#titles-text-and-links

but they also mention h* .
Reactstrap uses div but React allows for the tag to be dynamic: https://github.com/reactstrap/reactstrap/blob/master/src/CardTitle.js#L13

Maybe div is okay?  Haha not sure tbh.

[2020-01-01 04:05] daytonlowell commented on #30
I made a commit to my fork to add support for Carousel. Not ready to make a PR quite yet, but feel free to take a look and comment.

https://github.com/daytonlowell/sveltestrap/commit/88eedd867b31c90dacb54dde2dced636443864b8

Here's the state of things:
* [x] Carousel
* [x] CarouselCaption
* [x] CarouselControl
* [x] CarouselIndicators
* [x] CarouselItem
* [ ] Transitions
* [ ] "ride" support
* [x

[2020-01-01 05:02] daytonlowell commented on #30
keyboard support added in https://github.com/daytonlowell/sveltestrap/commit/0967235f54bb22ba6e4392877fe08837d386e834

[2020-01-01 19:33] bestguy commented on #30
This is great @daytonlowell thank you!  Let me pull and check it out later today, I appreciate the help.

[2020-01-02 03:50] daytonlowell commented on #30
Added initial support for ride, interval, and pause.

https://github.com/daytonlowell/sveltestrap/commit/bdd866257c2ef8f1e3098e94b76a55dbbc2ef2e1

[2020-01-03 21:23] bestguy commented on #30
Looking great @daytonlowell !, what further changes are needed before PRing/merging?

[2020-01-03 21:40] daytonlowell commented on #30
Do we care about touch support right now? That's going to be harder. I don't really have any experience with the touch events. I assume we don't want to depend on hammer.js.

We still need to figure out how to support transition animations between items in a way that looks like the default BS animation(they support fade and slide).

Finally, I'd like it if we could better handle the behavior when

[2020-01-04 01:07] bestguy commented on #30
Great update thanks.   We can leave this pending and open for the near term, and see if we can add those.  If not we can always release whatever is stable and leave the other points as issues for future releases

[2020-01-05 02:02] frederikhors opened #105 "Maybe a bug with a modal"
I don't know if this problem is with `svelte-spa-router` or with `sveltestrap`.

### Reproduction here: https://codesandbox.io/s/modern-cache-znqt3

But codesandbox is not the best place for routing issues.
You can download project: "File > Export to Zip".

### The problem

Reproduction steps:

1. Click on "Hello" menu item
1. Click on button
1. Modal should appear
1. Click on the back button of t

[2020-01-05 18:55] bestguy commented on #105
Thanks, I'm seeing an error when I try and close the modal too, maybe the root cause?:

[code]

[2020-01-05 19:10] bestguy commented on #105
Actually disregard on above, when you download the codesandbox zip and run locally closing seems fine.  I do see the duplication error you see though.  Not sure cause, looking at it locally.

[2020-01-05 19:43] bestguy commented on #105
@frederikhors it looks like issue is you have two Routers, one in App.svelte and one in Home.svelte:

[code]

If I remove the router code from Home.svelte this works fine.  Can't seem to fork the codesandbox to demo? but let me know if you think this is still an issue.

[2020-01-05 20:10] frederikhors commented on #105
Yes. Two router is the way to go according to: https://github.com/ItalyPaleAle/svelte-spa-router/blob/master/Advanced%20Usage.md#nested-routers.

One in App.svelte is commented.

The one in Home.svelte is necessary.

[2020-01-06 04:26] bestguy commented on #105
Depending on what you are trying to do, a single router seems to work:

App.svelte:
[code]

Hello.svelte:
[code]

Not familiar enough with this router to say if it's something we have an issue with 🤷‍♂

[2020-01-06 04:41] kokizzu opened #106 "Bind value on Input type=select"
This causes error when shown:
[code]

[2020-01-06 04:47] kokizzu commented on #106
on second thought, even without `bind:value` but with `type="select"` it always error:
[code]

[2020-01-06 12:44] frederikhors commented on #105
Yes. I know. But this is just a little example. In my real `Hello.svelte` I have many routes (also fetched from back-end).

So this is just an example and it doesn't work.

I opened this issue because if I remove the `Modal` changing it with let's say a text it works with no problems at all:

[code]

Really I don't know what to think.

[2020-01-06 16:29] ecentinela opened #107 "Modal error on close"
First of all, thank you for the package, it's being really helpful!

Now, I'm facing a problem with the modals.

I copy & pasted the demo in my app, but when I click on any of the buttons in order to close the modal the following error appears and the modal is not beging closed.

[code]

If I follow the error in chrome, I'm redirected directly to the following line:

[code]

Anybody can help me wi

[2020-01-07 02:06] bestguy commented on #106
Thanks @kokizzu , will take a look

[2020-01-07 02:08] bestguy commented on #107
Hi @ecentinela , do you have any sample code or repo showing usage?  Are you using in a router, or sapper app, etc?

[2020-01-07 13:37] ecentinela commented on #107
Hi @bestguy!

You can use the demo (https://codesandbox.io/s/modern-cache-znqt3) from a previous ticket (https://github.com/bestguy/sveltestrap/issues/105) that is failing too.

If you open the modal and click the "cross" icon, you will see this in your console.

Hope it helps.

[2020-01-07 14:24] frederikhors commented on #107
@ecentinela the problem is just on codesandbox.

If you download the zip it works good.

No problem at all on this.

[2020-01-07 21:24] ecentinela commented on #107
Hi @frederikhors, @bestguy, here you have a demo with the error. Copy & pasted the demo like I said in my previous comment. Failing in local when I launch the project with "yarn watch".

[svelte.zip](https://github.com/bestguy/sveltestrap/files/4032514/svelte.zip)

Hope it helps.

[2020-01-07 22:01] frederikhors commented on #107
You're right. I'm using Rollup in my labs: everything ok. I think the problem is something bad w/ webpack.

[2020-01-07 22:18] ecentinela commented on #107
You are right! This is related with the webpack loader.

I was missing part of the configuration:

[code]

After adding these lines, it started to work! :)

Thanks!

[2020-01-07 22:33] frederikhors commented on #107
Can you close the issue please?

[2020-01-07 23:07] #107 closed

[2020-01-09 04:20] lasergoat commented on #70
@bestguy Thank you. I ended up using Bulma which doesn't have it's own js, it's scss only so I didn't have to figure out how to handle all the custom vanilla js code that came with the other themes I'd been considering. The main drawback is now I've just had to be building my own theme from scratch

[2020-01-10 07:51] thecodejack opened #110 "Any plans toupgrade to bootstrap 5?"
Now that bootstrap 5 is on the way https://github.com/twbs/bootstrap/projects/11

any plans to upgrade to same?

[2020-01-11 23:57] bestguy commented on #110
Hi @thecodejack , yes although we'll probably keep master on v4 until Bootstrap 5 is out.  In meantime we can do 5.0-alpha/beta/etc versions on a v5-dev branch.

No time at the moment, but can start a branch whenever folks would like to contribute.

[2020-01-12 04:12] thecodejack commented on #110
sure..I would love to start on same in couple of days...

[2020-01-12 11:55] lovasoa opened #111 "Label has unused export property"
Thank you for this library. When trying the example from the README, I get warnings :

![image](https://user-images.githubusercontent.com/552629/72218354-7e350280-353a-11ea-877c-17d79da3671b.png)

[code]

[2020-01-12 12:38] frederikhors commented on #111
Already open PR: https://github.com/bestguy/sveltestrap/pull/88

[2020-01-12 19:46] frederikhors opened #112 "conditionallyUpdateScrollbar and forced reflows"
I think we have an issue with `conditionallyUpdateScrollbar()`.

![image](https://user-images.githubusercontent.com/41120635/72224568-2323ff80-357c-11ea-9205-d7f6d2995c93.png)

I'm not an expert here but maybe we can fix this in some way?

Forced reflows on low-(very low)-end devices is a serious problem (many many lags).

[2020-01-14 05:55] dym-sh opened #116 "Missing toast/icons"
the https://github.com/bestguy/sveltestrap/blob/master/stories/toast/Icons.svelte
is copy-paste from Sample of the same dirrectory

i would help, but atm not sure what supposed to be there,
smth like https://bootdey.com/snippets/view/alerts-with-arrow ?

[2020-01-14 16:01] dym-sh opened #117 "missing? badge/pills"
the https://github.com/bestguy/sveltestrap/blob/master/stories/badge/Pills.svelte

is copy of Colors from the same directory

~~would help if i know what was supposed to be there~~ fixed in #118

[2020-01-18 16:28] bestguy commented on #117
Oops! Thanks!

[2020-01-18 16:28] #117 closed

[2020-01-18 23:25] solinad21 opened #119 "Label has unused export property"
i am using sapper

i get this message when run as dev my saper app :

- - - - - - -- - - - - - - - - - - - - - - - - - - - - - - - - - -
Label has unused export property 'xs'. If it is for external reference only, please consider using `export const xs`
18:   export { fore as for };
19:   export let id = '';
20:   export let xs = '';
                 ^
21:   export let sm = '';
22:   export let md

[2020-01-21 15:39] vrde opened #120 "How to use spacing classes"
Hi, I tried to create a container with custom spacing. I noticed the `Container` component exports `className`, so I tried this:

[code]

But it doesn't work. Any idea on how I can use [spacing classes](https://getbootstrap.com/docs/4.3/utilities/spacing/)?

[2020-01-25 06:45] bestguy commented on #120
Hi @vrde , Svelte uses `class` like normal HTML, so just:

`<Container class="my-2">`

The [export you see](https://github.com/bestguy/sveltestrap/blob/master/src/Container.svelte#L6) is just so we can reference internally in JavaScript, since class is a reserved keyword.

[2020-01-25 06:45] #120 closed

[2020-01-25 12:21] frederikhors opened #121 "Modal sizes css classes"
If you use something like PurgeCSS and Modal component the css classes are not compiled in final js bundle.

I'm talking about these: https://getbootstrap.com/docs/4.4/components/modal/#optional-sizes

[code]

Can we add them somehow?

[2020-01-25 16:43] bestguy commented on #119
Hi @solinad21 , this is confusing warning, as these props are actually used, just indirectly:

https://github.com/bestguy/sveltestrap/blob/master/src/Label.svelte#L30

I'll see if there's some way to let sapper know this.

[2020-01-25 16:53] bestguy commented on #121
Hi @frederikhors , haven't used PurgeCSS and typically use Bootstrap themes from CDNs, but can you explain its removal logic?  Does it inspect a compiled app?

 It seems difficult for a tool like this to know about classes like this:
https://github.com/bestguy/sveltestrap/blob/master/src/Modal.svelte#L206

Thinking you could probably hack a hidden element like this in your app like this:

`<div cl

[2020-01-26 01:35] bestguy commented on #119
Hi @solinad21 , this should be corrected in sveltestrap@3.3.2

[2020-01-26 01:35] #119 closed

[2020-01-26 01:35] bestguy commented on #111
Hi @lovasoa , this should be corrected in sveltestrap@3.3.2

[2020-01-26 01:35] #111 closed

[2020-01-29 10:53] czlinNYC opened #124 "Styling"
How does one style the sveltestrap components?
I am attempting to style the drop down and yeah. No idea how to do it.

[2020-01-29 14:27] bestguy commented on #124
Hi @czlinNYC , this library is for using Bootstrap components in Svelte, so the styling comes from Bootstrap.   We basically use bootstrap class and Bootstrap theme provides the look.  This is not a library like styled-components.

However you can customize your Bootstrap theme by overriding the classes used, dropdowns for example: https://getbootstrap.com/docs/4.4/components/dropdowns/#examples

[2020-01-29 14:36] czlinNYC commented on #124
Wow thank you for your prompt reply. I appreciate it. I am only using a few components of sveltestrap, so I think and entire theme will be overkill. I styled the components I am using with a css file loaded after the bootstrap in the <head/>. It seems to be sufficient for my project. Thank you again I will pass this to my coworkers.

[2020-01-29 20:25] #124 closed

[2020-02-13 18:28] mvolkmann opened #126 "question for Svelte book"
@bestguy I opened an issue because I couldn't find another way to contact you. I'm writing the Manning book "Svelte and Sapper in Action". It contains a short section on integration with CSS libraries like Bootstrap. I'm planning to mention your sveltestrap library and include an example of using it.

Would you say it is not possible to use Bootstrap components in a Svelte app or just difficult. I

[2020-02-15 19:19] bestguy commented on #126
Hi @mvolkmann  Oh nice!   Thank you for reaching out.   Mentioning is fine by me and appreciated.

I think that phrasing isn't correct; the purpose of Sveltestrap is to make using Bootstrap easier and offer a more Svelte-friendly interface as components.  More specifically this specifically means:

1. You need less markup/"div-soup" with the various combinations of bootstrap class names.  For exam

[2020-02-15 19:54] bestguy commented on #126
@mvolkmann the TL;DR is using Bootstrap's class name HTML+JS based components directly are awkward compared to using reusable components designed for Svelte.  They use the same CSS under the hood so you get the benefits of Bootstrap without most of the drawbacks.

[2020-02-16 01:09] mvolkmann commented on #126
Thanks, makes sense! When the book comes out you’ll see an example of using your library in the “Advanced Svelte” chapter.

[2020-02-16 01:34] #126 closed

[2020-02-18 20:02] vfilatov opened #127 "error under "Svelte DevTools""
While trying 1st sample from https://bestguy.github.io/sveltestrap/?path=/story/components--navbar
under "Svelte DevTools" (https://chrome.google.com/webstore/detail/svelte-devtools/ckolcbmkjpjmangdbmnkpjigpkddpogn?hl=en-US)
I get the error below on console.
[code]

[2020-02-18 20:04] vfilatov commented on #127
Checked on

- Chromium: Version 81.0.4033.2 (Developer Build) Ubuntu 19.10 (64-bit)
- Chrome: Version 80.0.3987.116 (Official Build) unknown (64-bit)

[2020-02-18 21:10] vfilatov commented on #127
On Firefox:

- DataCloneError: The object could not be cloned.

[2020-02-19 14:49] bestguy commented on #127
Hi @vfilatov,  are you running the sample locally?  Or are you looking at the website docs.
The docs use storybook library which uses React, etc that might confuse things or trigger errors

[2020-02-19 14:59] frederikhors commented on #127
@bestguy I think we should only accept issue with issue reproduction on REPLs online.

The little time we can devote to FOSS should not be supportive of non-repository problems.

Am I wrong?

[2020-02-19 16:49] vfilatov commented on #127
No, you are not wrong. but I might be wrong and there is a big change I'm
doing something wrong.
I'm not able to reproduce that on REPLs online.

Here are steps to reproduce the error.

   - npx degit sveltejs/template my-svelte-project
   - cd my-svelte-project/
   - npm i
   - npm i sveltestrap
   - npm i bootstrap
   - cat <<EOF > src/App.svelte

<script>
  import {
    Collapse,
    Navbar,

[2020-02-19 17:00] frederikhors commented on #127
It's not because of you or related to you, @vfilatov.

[2020-02-19 17:45] vfilatov commented on #127
locally.

[2020-02-19 21:35] orzen opened #128 "Input type submit is missing"
The input type submit is not listed in the if-statement that checks the type it will therefor end up render nothing.

Is there any other way to submit forms?

[2020-02-20 04:21] bestguy commented on #127
Thanks @vfilatov for the reproduction steps, can take a look

[2020-02-24 20:09] vfilatov commented on #127
node_modules/sveltestrap/src/Nav.svelte:
variable "fill" conflicts with Svelte DevTools
a workaround:
[code]

[2020-03-03 14:15] bestguy commented on #127
Thanks @vfilatov - we could change this, although would be a small breaking change.
Perhaps this is an issue we could fix in Svelte Devtools?  Any thoughts @RedHatter ?

[2020-03-03 19:06] majkelbed opened #129 "Typescript types support?"
I would like to use this lib in my svelte + typescript(preprocess) project, yet i'm having trouble importing it due to lack of types. Can someone provide @types/sveltestrap any soon? <3

[2020-03-03 20:30] RedHatter commented on #127
Thanks for the heads up. Shouldn't be a problem to fix. Just need to filter out native functions before I clone the local context.

[2020-03-03 23:06] vfilatov opened #130 "Collapse / DropdownItem doesn't like store object"
[code]
The code above shows both (if && else) blocks if **_user_** in the next code
[code]
is a 'svelte/store' object
link to [REPL](https://svelte.dev/repl/d7b5f0d565a441cfac66e093ee6fe62d?version=3.19.1)

Please uncomment
[code]
under **_TopNavBar.svelte_** tab

[2020-03-07 06:12] bestguy commented on #129
Hi @majkelbed , that would be awesome, I had assumed Svelte did not work well with TS.  For example: https://github.com/sveltejs/svelte/issues/3677

What's your toolchain and how might this work?  Any example svelte libs that do support this for reference?

[2020-03-07 06:15] bestguy commented on #128
Hi @orzen , oops!  That's a silly mistake, will fix up!

In short term` <input type="submit" class="btn btn-primary" value="Save">` etc will work

[2020-03-07 11:29] webcoder31 opened #131 "No data binding for component <Input type="select">"
Hi,
Data binding does not work with component **Input type="select"**.
Here is an example showing the issue:

https://svelte.dev/repl/f7bf7a00940e428c85767bf6f0fc78d4?version=3.19.2

[code]

Looking at the SvelteStrap code I noticed that `bind:value` is missing in the implementation of the component.
https://github.com/bestguy/sveltestrap/blob/5dff47559e4101d1e38302f01b4253651196cd22/src/Input.sve

[2020-03-07 11:55] mistlog commented on #129
I implemented [svelte-draft](https://github.com/mistlog/svelte-draft) so that we can use svelte with full power of typescript, however, someone doesn't like it, or even hate it due to the custom JSX syntax.

Anyway, add types to sveltestrap can be achieved in this way: https://github.com/bestguy/sveltestrap/pull/132. I added a demo for using sveltestrap with these types in repo [sveltestrap-demo](

[2020-03-07 17:32] majkelbed commented on #129
I managed to pull this off with webpack as a module bundler, [ts-loader](https://github.com/TypeStrong/ts-loader) for imports, [svelte-loader](https://github.com/sveltejs/svelte-loader) for svelte imports and [svelte-preprocess](https://www.npmjs.com/package/svelte-preprocess) so i can do sth like this:
[code]
It is not 1st class typescript support, but i like it more than svelte-draft (sorry man

[2020-03-09 04:18] bestguy commented on #131
Hi @webcoder31 ,
This should be corrected with #133 , released in sveltestrap@3.3.3

Can you please confirm and update this issue?

[2020-03-09 04:20] bestguy commented on #128
Hi @orzen ,
This should be corrected with #133 , released in sveltestrap@3.3.3

Can you please confirm and update this issue?

Usage has a color prop so it uses correct Bootstrap bth styles:
`<Input type="submit" color="primary" value="Save">`

[2020-03-09 20:59] webcoder31 commented on #131
Hi @bestguy ,
The data binding works fine now.
Thank you for very fast support ;)
Best regards

PS: Got this warning in console `<Input> was created without expected prop 'readonly'`. Is `readonly` a mandatory attribute ?

[2020-03-10 04:40] bestguy commented on #131
Weird, not sure!  Thanks for the heads up, will look

[2020-03-11 19:04] vfilatov commented on #130
a workaround on App.svelte
[code]

[2020-03-14 12:47] Applemann opened #135 "Modal cannot close in sapper project"
Hello I am testing sveltestrap in sapper template project and when I copied code for Modals from here:
https://bestguy.github.io/sveltestrap/?path=/story/components--modals

So Modal cannot close or click to Buttons:
![image](https://user-images.githubusercontent.com/2686906/76682134-bcfa3e00-65f9-11ea-9491-2b422ee82dd9.png)

Do you know where can be the problem?
I only copy-pasted it into index.

[2020-03-17 13:03] vladcheg opened #136 "Collapse / sapperjs export ignores all links inside when collapse isOpen=false by default"
[code]
If run `yarn sapper export` the corresponded about and blog pages will not be created.
Sapper crawler cannot find these links while it's collapsed.

[2020-03-17 18:25] vfilatov opened #137 "ButtonGroup doesn't add "btn-group" to ButtonDropdown"
https://svelte.dev/repl/103a4efed9a34756af12895bcd9e03f8?version=3.20.1

[2020-03-17 20:38] kevsnams commented on #137
I was having the same problem too. I thought that by adding `<ButtonDropdown group=true>` it will fix the problem.

I went on and investigated a little more. It turns out on src/Dropdown.svelte, this line:

![image](https://user-images.githubusercontent.com/62271083/76898710-2f587000-68d1-11ea-9f19-0bda4dbde559.png)

`{...props}` also has class in it (from parent ButtonDropdown), and it overrides

[2020-03-23 21:14] arthurgermano commented on #61
Hii... Is it still happening?

Because I am trying to bind to checkbox and nothing...
No events, no bind.. nothing..

=(

[2020-03-23 21:47] tomaszijdemans opened #139 "Autocomplete"
Any plans to add autocomplete? There are some svelte autocomplete projects out there, but they either lack async, or the css tends to get messed up. Would love something that fits seamlessly with sveltestrap :)

[2020-03-23 23:16] arthurgermano opened #140 "CustomInput - Checkbox and others"
Hi Guys.. How are you ?
Nice work you have been done.. Congrats!!

But I don't know if there is a limitation or something that breaks.. but
Why did you omit events from CustomInput like checkbox ?
Because I think was very necessary and they emit perfectly.. look the snippet below
I just added and test two events but I think you should emit all possible don't you agree ?
Sorry if I am missing somet

[2020-03-26 04:09] cayter commented on #76
@nkev Since you're from golang realm, I'd suggest you to quickly set this up to get a feeling of how SvelteJS bundle size looks like in a real-world application. Here's quick start you can get to experience: https://appist.gitbook.io/appy/getting-started.

[2020-03-26 04:12] cayter commented on #76
@nkev Since you're from golang realm, I'd suggest you to quickly set this up to get a feeling of how SvelteJS bundle size looks like in a real-world application. Here's quick start you can get to experience: https://appist.gitbook.io/appy/getting-started.

Disclaimer: I built this web framework by putting together few of the best packages from golang community and made SvelteJS as the primary choi

[2020-03-27 20:11] vfilatov commented on #127
@RedHatter any chances to look at that issue? :)

[2020-03-28 02:25] x80486 commented on #131
There is one more thing: if the value is `undefined` initially, the `Input` component (of type `select`) is not picking up the first value. I can confirm this works as expected if the HTML `select` element is used instead.

[2020-03-28 07:31] RedHatter commented on #127
Thank you for the ping. Sorry I haven't looked into this sooner.

As far as I can tell this is fixed in svelte-devtools version 1.2.2. Can you verify? The latest version hasn't gone through review on chrome yet but you should be able to install on firefox. Make sure to use the latest svelte version.

[2020-03-30 20:11] vfilatov commented on #127
@RedHatter, thank you, I can confirm it is working on FireFox now.
Meanwhile it crashes under huge data set, but that might be a different story.

Thanks again!

[2020-04-02 17:02] lucfranken opened #141 "Blocked navigation - Should transitions be local?"
We ran into an issue which blocked navigation with Routify: https://github.com/sveltech/routify

After a lot of research it seems that the animation (fade) of the Alert component blocks the navigation. It's hard to debug because it's a timing issue so hard to reproduce.

Advice received is that the transition should be local:

https://svelte.dev/tutorial/local-transitions
https://github.com/bestgu

[2020-04-02 17:05] jakobrosenberg commented on #141
I haven't seen the repo in question, but it sounds like this bug.
https://github.com/sveltejs/svelte/issues/3685

If that's what we're looking at, the easiest fix would be adding a local directive to the transition.
``out:fade`` => ``out:fade|local``

[2020-04-03 06:07] lucfranken commented on #141
Thanks @jakobrosenberg
I did some further research on this issue and came to the following conclusions:

The fade = true / false setting and the UncontrolledAlert do not make any different on this issue.

What does work is just using the static example HTML from bootstrap:

[code]

Then the issue is gone. So that seems to show we can really pin it down to how the alert is created in svelte strap.

[2020-04-12 03:11] shobhit-shrivastava opened #143 "How to align Dropdown inside Navbar with collapse?"
I am new to sveltestrap so forgive me if this is a dumb question.
I followed this sample code from the storybook.  https://bestguy.github.io/sveltestrap/?path=/story/components--navbar
This example uses Uncontrolleddropdown inside a Navbar. The dropdown aligns to the left or right of the page. I want the dropdown to be below the dropdownmenu. I tried replacing uncontrolleddropdown with a regular d

[2020-04-13 18:32] NickKaramoff commented on #143
I believe this is a bug. The same behaviour is also present on my page without collapsing navbar:

[code]

![Image of the bug](https://user-images.githubusercontent.com/6566248/79148295-8d3f8100-7dc5-11ea-9b84-ce34c5552fdb.png)

In my example, the dropdown menu is more or less near the toggle, but it is still wrong — it aligns to the page and not to the toggle.

[2020-04-13 19:22] NickKaramoff commented on #143
I was able to find the source of the problem.

The code

[code]

is being rendered to (Svelte attributes stripped out)

[code]

As you can see, the `<li>` representing the dropdown doesn't have required classes `nav-item` and `dropdown`, although they should be present according to https://github.com/bestguy/sveltestrap/blob/88c1c30d8086768c4f9e4bce2a9fc9cf31920d45/src/Dropdown.svelte#L53 and http

[2020-04-13 19:53] NickKaramoff commented on #143
@shobhit-shrivastava the permanent solution I came up with for now is to add `dropdown` class to the `<UncontrolledDropdown>`/`<Dropdown>` element:

[code]

[2020-04-13 23:22] vfilatov opened #144 "Console warning: <Input> was created without expected prop 'readonly'"
Why 'readonly' attribute would be mandatory?

https://svelte.dev/repl/bf1eb9d9a5ee44f5ab1fdfbe823a5f7b?version=3.20.1

[code]

[2020-04-16 16:26] dstaley41 opened #145 "Icon component"
If anyone else was looking for a more reasonable way to use bootstrap4's icons, I tossed together this rough idea. explanation inside on how to populate the mapping object needed. Hope it saves someone else some of the frustration these icons come with..

usage: <BootstrapIcon icon="alarm" />

https://gist.github.com/dstaley41/495dca87a04d168519a57c93a040c86e

[2020-04-25 19:42] jamgold opened #146 "Button text not updating"
I am at a loss why this isn't working. The on:click clearly fires, but the button text does not update

[code]
I recreated the Button.svelte component to look like this and it works. Why isn't the sveltestrap Button working
[code]

[2020-04-28 16:09] xapdkop commented on #143
This issue is the incorrect placement of spreading `props` in the [Dropdown.svelte](https://github.com/bestguy/sveltestrap/blob/88c1c30d8086768c4f9e4bce2a9fc9cf31920d45/src/Dropdown.svelte) (`props` should be spread before any other attributes since `props` can override them)
https://github.com/bestguy/sveltestrap/blob/88c1c30d8086768c4f9e4bce2a9fc9cf31920d45/src/Dropdown.svelte#L100
https://githu

[2020-05-11 18:51] vfilatov commented on #144
[code]
causes disabled background color.
without readonly prop throws the warning above to console.

https://svelte.dev/repl/bf1eb9d9a5ee44f5ab1fdfbe823a5f7b?version=3.22.2

[2020-06-07 19:11] johnr1 commented on #146
It seem like you forgot to terminate the script tag.
You are currently writing `<script>` instead of `</script>`.

[2020-06-07 19:19] jamgold commented on #146
That was just a typo in my example. I just tried again and the Button component still does not update the text

[2020-06-07 19:34] johnr1 commented on #146
Hmm. I tried copy pasting your example, fixing the script tag and running it and it seems to update it normally.

[2020-06-07 19:47] jamgold commented on #146
That is indeed odd. I am using sveltestrap in a Meteor project, maybe that's where this behavior is introduced. If this works with "naked" svelte I believe the issue should be closed.

[2020-06-12 19:50] jmmaranan opened #150 "Override embedded on:submit - compile error"
Hey there,

Was there a reason that the `on:submit` was included in the component by default?
https://github.com/bestguy/sveltestrap/blob/88c1c30d8086768c4f9e4bce2a9fc9cf31920d45/src/Form.svelte#L14

Cannot override it using the code below:
[code]

Error when compiling:
[code]

Can do a workaround by using the native `<form />`. Otherwise, losing consistency of using pure sveltestrap! :)

[2020-06-12 20:51] jmmaranan commented on #150
Looks like it does not support the syntax:
`on:submit|preventDefault={handler}`, rather passing `on:submit={handler}` works, where the preventDefault can be embedded on the function itself:
[code]

[2020-06-12 20:55] #150 closed

[2020-06-18 07:21] mishrasatyam opened #151 "bind:this does not work inside <ModalBody>"
bind:value works but bind:this does not work inside Modalbody

[2020-06-19 19:41] rawoke083 opened #152 "Nav-link /Nav-Item setting active"
HI nice library !
I'm using the Navbar in Sapper..
How do I set the "active" property for a link in the Navbar
The following doesn't change anything for me

[code]

[2020-06-19 19:50] #152 closed

[2020-06-19 19:50] rawoke083 commented on #152
My mistake

[2020-06-27 13:48] bestguy commented on #129
Sorry for delay in reply, but thanks @majkelbed for starting this.  Since the interface is very similar, do you think we could fork or reuse code from [@types/reactstrap](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/reactstrap/index.d.ts)?

[2020-07-03 03:28] BenHayat opened #156 "Bootstrap 5 direction?"
Hi;
Firstly, I'd like to thank you for your work.
Is there plan to port your library to BS5, when it goes public?

Thanks!
..Ben

[2020-07-04 13:08] frederikhors commented on #121
They are needed to be all in full length:

[code]

[2020-07-08 13:29] d0x2f opened #157 "Svelte 3.24.0 seems to have broken input value binding"
With two input fields in the same component, changing one seems to clear the others.

See this REPL for an example: https://svelte.dev/repl/a3a78cc7744b4b4fb4a1b4a752e9a2d3?version=3.24.0

There are a couple of `<input>` related PRs included in svelte 3.24.0:

 - https://github.com/sveltejs/svelte/pull/5004
 - https://github.com/sveltejs/svelte/pull/5028

[2020-07-12 14:50] bestguy commented on #157
Yikes that's nasty, thanks for the heads up @d0x2f .  There's some delay with response due to covid situation, but catching up here, is a general fix forthcoming with svelte, or does this call into question our usage of $$props?

[2020-07-12 15:00] bestguy commented on #156
Hi @BenHayat , yes the intent is to support Bootstrap 5, and have at least have beta versions available by Bootstrap beta 1.(Currently alpha 1 as I type this).
From my experience with Bootstrap v4, alpha versions can and do change a lot, so I'm reluctant to do _too_ much work prematurely and have a lot of churn, but any help here is appreciated if people are using v5 with this.

From a quick look

[2020-07-12 16:47] bestguy commented on #146
Hi @jamgold , this works fine for me, however I wonder if there is any trouble from Meteor due to the way the code is here:
https://github.com/bestguy/sveltestrap/blob/master/src/Button.svelte#L66

 The `{children}` stuff is just to allow for easier unit testing, but wondering if there may be some incompatibility with Meteor?

[2020-07-12 22:28] valent-novem commented on #157
Edit `Input.svelte`, replace line 27 with this:
`const { type: _omitType, color: _omitColor, value: _omitValue, ...props } = clean($$props);`
Seems like it will fix the problem

[2020-07-12 23:51] bestguy commented on #157
Thanks, let me try this out and look for other instances

[2020-07-13 00:30] d0x2f commented on #157
Thanks @bestguy,

To your original question, I'm not too certain on what the behaviour of the proposed svelte PR will have in this case, I'm not familiar enough with the svelte code to tell.

A svelte dev mentioned the relatively new $$restProps var, which is the same as $$props but omits any keys that are exported by the component.
So in this case, since 'value' is exported, $$restProps will omit

[2020-07-13 03:08] bestguy commented on #157
Nice! that $$props omit stuff was a pain

[2020-07-13 04:08] bestguy commented on #157
An update is moving to `$$restProps` seems to clear issue, but 3.24.0 also breaks Inputs type="select" altogether, I need to correct that prior to merge.

[2020-07-14 16:59] jamgold commented on #146
Hello @bestguy, this might need to be investigated by the guy who created the svelte integration with Meteor, I believe.

[2020-07-15 04:38] bestguy commented on #157
Hey @d0x2f , this should be corrected in sveltestrap@3.5.0, please update/close this issue if corrects for you.
Thanks for the heads-up

[2020-07-15 05:36] bestguy commented on #145
Oh nice!  Thank you, this is a good addition to v5

[2020-07-15 05:38] bestguy commented on #140
Hmm, thanks @arthurgermano , that is probably an oversight, we didn't have good event support when we first moved to Svelte 3.x, and might have missed.  I'll take a look!

[2020-07-15 07:15] d0x2f commented on #157
Thanks so much @bestguy, it works great. The REPL is fixed now as well.

:beers:

[2020-07-15 07:15] #157 closed

[2020-07-18 00:00] tleylan opened #162 "Re: the install instructions"
Sorry to bother you but the docs say:  npm install --save svelte sveltestrap
This installs svelte and sveltestrap correct? Is it necessary to install svelte again? Thanks.

[2020-07-18 19:51] elolelo opened #164 "Accordion present in the current version?"
Are the current card components extensible to include collapse feature like this [component](https://getbootstrap.com/docs/4.0/components/collapse/)?

[2020-07-18 22:22] bestguy commented on #164
Hi @elolelo , there's no built-in Accordion component, but yes the Card components can be combined into one:

[code]

[2020-07-18 22:28] elolelo commented on #164
@bestguy Thanks a lot.

[2020-07-18 22:28] #164 closed

[2020-07-18 22:37] bestguy commented on #162
If you already have svelte, it's not necessary to reinstall.  We mention installing svelte because it's a peerDependency and not installed automatically.

[2020-07-19 03:25] BlackFenix2 commented on #129
@bestguy i have to ask, why do we need the dist folder? if for SSR we are encouraged to import from the /src folder why dont we just use that as the main package directory? that would allow an easier developer experience with typescript/javascript.  what is the point of outputting to umd or es if the client is going to compile the .svelte file to javascript anyway?

sorry if its a dumb question, i

[2020-07-19 05:07] BlackFenix2 commented on #129
@bestguy i tried to reuse code from  @types/reactstrap, i event tried the index.d.ts file from the PR https://github.com/bestguy/sveltestrap/pull/132. i cannot get the svelte components to play nice without red curly lines.

## Button.d.ts
[code]

## Implementation in svelte

[code]

i get this error:
![image](https://user-images.githubusercontent.com/15244006/87867519-a7a47000-c95b-11ea-8655-9fe2

[2020-07-19 17:54] BlackFenix2 commented on #129
i did find this svelte component type definition inside my local node_modules, so far no success on replicating this logic for our custom svelte components.

[code]

[2020-07-19 21:03] tleylan commented on #162
Thank you.

[2020-07-19 21:03] #162 closed

[2020-07-20 04:34] bestguy commented on #129
Hey @BlackFenix2 , I didn't realize svelte source is now in TS, can our types just extend SvelteComponent here?
https://github.com/sveltejs/svelte/blob/master/src/runtime/index.ts

[2020-07-20 16:21] BlackFenix2 commented on #129
@bestguy i did that and now im getting:

[code]

ill try to discord svelte and see what i could be missing. im not really sure how to tell typescript that this is not a JSX element.

[2020-07-20 16:42] BlackFenix2 commented on #129
@bestguy an update, the d.ts files work if svelte component you are calling the module from does not have the identifier:
[code]
if the .svelte file is using javascript the type definitions provide intellisense without issue, otherwise the typescript runtime complains that the component is not valid JSX (it is not a react component).

i updated the (javascript) working Button.d.ts file, it works p

[2020-07-20 23:25] BlackFenix2 commented on #129
I went onto svelte discord and figured out that the SvelteComponentDev type is picking up globals causing the type checker to scream.

good news is we now have a way to add type definitions for our umd and es bundles. gonna be a big labor of love to update each component by hand.

[code]

[2020-07-26 03:38] BlackFenix2 commented on #129
once https://github.com/bestguy/sveltestrap/pull/166 completes, we can close this issue.

[2020-07-30 11:17] kefahi opened #168 "Getting "component is null" error message on the console log"
Hi,
First of all thank you for the great library, it really makes a huge difference!

I faced one specific problem with dealing with Dropdown menus, both regular and Uncontrolled.

Following the examples in https://sveltestrap.js.org give the following error:

Uncaught TypeError: component is null
    handleDocumentClick Dropdown.svelte:85

Looking at the code in Dropdown.svelte I indeed see a com

[2020-07-31 05:38] bestguy commented on #168
Hi @kefahi , thanks.

I'm unable to duplicate, here is sample using same code: https://svelte.dev/repl/4b7f32465b2c4980b9540d8b6ba23fde?version=3.24.0

Would you mind sharing the code you are using?

[2020-07-31 18:46] a7med-mahmoud commented on #129
Svelte VSCode Extension gives me this error when using event handlers like `on:click`:
`Property '$on' does not exist on type 'NavbarToggler'.ts(2339)`

[2020-07-31 19:07] BlackFenix2 commented on #129
are you using the official svelte for vscode extension? i cannot replicate the error on my vscode project.

see if you have the vscode extension here: https://marketplace.visualstudio.com/items?itemName=svelte.svelte-vscode

[2020-07-31 20:48] a7med-mahmoud commented on #129
That's the extension I have, It also gives me errors on the `expand` property because it's declared as a boolean but it should take a string of 'sm', 'md' or 'lg'.

[2020-07-31 20:50] a7med-mahmoud commented on #129
I'm using Sveltestrap in a Svelte & TS project acually..
using the new `node scripts/setupTypescript.js` command.

[2020-07-31 21:01] a7med-mahmoud commented on #129
I created a `sveltestrap.d.ts` file that has this content
[code]
then the `on:event` is fixed, but I'm still getting an error with the `expand="lg"` in the `<Collapse />`

[2020-07-31 21:13] BlackFenix2 commented on #129
@a7med-mahmoud do you have a github repo i could look at? i cannot replicate the issue with the on:event directive, i do get the similar type error on expand="lg".

[2020-07-31 21:30] a7med-mahmoud commented on #129
@BlackFenix2 no I don't have a repo for that project.. I was starting that project and it was just giving me typescript errors evertwhere so I decided to recreate the project and see if it will give me the same error.

[2020-08-01 02:12] BlackFenix2 commented on #129
@a7med-mahmoud i made a PR https://github.com/bestguy/sveltestrap/pull/169 addressing both problems. thanks for providing the necessary type definition.

[2020-08-01 04:34] bestguy commented on #129
Thanks all, merged and published in sveltestrap@3.7.3

[2020-08-01 13:07] a7med-mahmoud opened #170 "Bootstrap Navbar looking bad"
## These are some things you can do to improve the Navbar Look:

1. The `<NavbarToggler />` component should not have button classes, so you can remove the `btn` & `btn-secondary` from it.
2. In the `<Nav />` component add an option (as a prop) to choose between using `<div>` or `<ul>` as the parent element of the `<Nav />`

[2020-08-02 12:27] kefahi commented on #168
Thank you @bestguy
The error went away on its own. It could be a glitch in my local setup.
But I'm now curious to understand how it works without errors given that the component variable in Dropdown.svelte is not assigned any value.
Thank you again for following up.

[2020-08-02 17:29] bestguy commented on #168
Hi @kefahi ,
I think it actually is assigned a value on line [#97](https://github.com/bestguy/sveltestrap/blob/127f6aa8c7c6baf09b147baf08b7b70b5b2ebccc/src/Dropdown.svelte#L97)

by using: `bind:this={component}`

https://svelte.dev/tutorial/bind-this

[2020-08-02 22:18] kefahi commented on #168
@bestguy
That clarifies it, many thanks for your patience and follow-up!
I'm closing the ticket.

[2020-08-02 22:18] #168 closed

[2020-08-06 15:07] #140 closed

[2020-08-08 08:10] #170 closed

[2020-08-15 21:02] bestguy commented on #156
Hi @BenHayat and others interested, I've strated a V5 branch:
https://github.com/bestguy/sveltestrap/compare/v5?expand=1

Seems straightforward so far, so I will try to finish compatibility with Bootstrap 5 Alpha 1 and do an alpha release of  sveltestrap v5 in next couple weeks

[2020-08-20 22:52] schindld opened #172 "How do you change the animations?"
Is it possible to change the animation used for the navbar, for example?

Specifically, I'd like to change the easing function used.

[2020-08-24 16:33] schindld commented on #172
Thanks, I'll go with 3 for now

[2020-08-24 21:07] metacoding opened #173 "Cannot use sveltestrap in Sapper project"
I have a project created by Sapper and I have included the bootstrap css in my template. In my header component I used the Navbar (copied from the StoryBook sample https://sveltestrap.js.org/?path=/story/components--navbar) Now when I start the app I don't see any build error but when the app renders in browser I see the following error:

![image](https://user-images.githubusercontent.com/16768266

[2020-08-25 01:10] bestguy commented on #173
Hi @metacoding , please see note here for SSR:

https://github.com/bestguy/sveltestrap#note-on-server-side-rendering-ssr-usage-fixed

the recommendation was to import component directly.

[2020-08-26 02:37] bestguy commented on #173
Closing as above should resolve, please reopen if I've misunderstood issue

[2020-08-26 02:38] #173 closed

[2020-09-02 21:45] Shackless opened #174 "Empty IDs invalidate HTML markup"
Sveltestrap components like Container, Row etc. generate an empty `id=""` attribute on DOM nodes which is invalid according to the [W3C spec](https://www.w3.org/TR/html4/types.html#type-id). It would be great if this empty attribute could just be omitted if it's not set.

[2020-09-03 01:45] bestguy commented on #174
Hey thanks for the heads up, yeah we are doing this in a lot of places:

[code]

Should be an easy fix, will PR and update by this weekend hopefully.

[2020-09-03 02:03] bestguy commented on #174
Hi @Shackless , this was super easy, should be fixed in #175 , published as sveltestrap@3.7.4

Will close, let me know if you still see issues

[2020-09-03 09:53] Shackless commented on #174
Cool, thanks for the super-fast resolution. It works perfectly now!

[2020-09-03 21:59] Shackless commented on #174
I just noticed that the sveltestrap components now render with `id="undefined"` instead of `id=""`. Interesting is that Chrome doesn't display the id attributes when inspecting an element but if you select "View Page Source" instead, you'll see them. Check https://shipbit.de as live example. It uses latest sveltestrap and Sapper packages. I'm not sure if this issue might be related to the latter.

[2020-09-04 17:41] bestguy commented on #174
Hey there, hmm, that's super annoying, I only confirmed in the inspect elements.
Explicitly declaring id="" predates the {...$$restProps} stuff which was not initially supported by Svelte...
I'll reopen and look this weekend. I think the restProps should cover!

[2020-09-04 18:02] bestguy commented on #174
Should be corrected by #177 , published as sveltestrap@3.7.6
I think in upcoming v5 we'll prune out all the HTML props we just pass through

[2020-09-04 21:38] Shackless commented on #174
Thanks again and nice, now it definitely works!
I have another suggestion: Instead of using invalid attributes like `md="3"` on `Col`s, one could use `data-md="3"` to make it W3 valid. I can take a look at this and create a PR when I find the time and if you're interested in that.

[2020-09-04 21:56] jonjes opened #178 "CustomInput is broken"
It seems to be that the "id" field is the issue.  Perhaps it's not being passed down correctly into the component?

Error message:
[code]

You can also see the error message on the Sveltestrap documents page for CustomInput (https://sveltestrap.js.org/?path=/story/components--custominputs)

![image](https://user-images.githubusercontent.com/2365749/92287482-824dd000-eecf-11ea-9c05-a221761931bf.png

[2020-09-04 23:46] bestguy commented on #174
Those props "shouldn't" be ending up in the DOM, hopefully you aren't seeing those.

That is an interesting idea, but this lib mostly modeled its interface after a React Bootstrap library that uses these non-data prop names, which echos Bootstrap's class naming.  Would be reluctant to change, but if you have a sample you are thinking of could post here.

[2020-09-04 23:47] bestguy commented on #174
Closing, fixed in v3.7.6

[2020-09-04 23:47] #174 closed

[2020-09-05 16:44] bestguy commented on #178
Ugg, sorry this has been whack-a-mole with simplifying id logic.   Should be corrected by #179 and will publish today

[2020-09-05 16:49] bestguy commented on #178
Should be corrected in sveltestrap@3.7.7, thanks for the heads up

[2020-09-05 22:12] jonjes commented on #178
Thanks so much for your help on this. Really nice library.

[2020-09-05 22:12] #178 closed

[2020-09-11 21:03] bestguy commented on #145
Hey @dstaley41 , I've added an Icon component to simplify this further:
https://sveltestrap.js.org/?path=/story/components--icon

Thanks for the idea, let me know if you see any issues with it.

[2020-09-11 21:03] #145 closed

[2020-09-13 09:53] michaeljelly opened #186 "Icon.svelte causing crashing out"
Hey, just seen you added icons to sveltestrap yesterday, but it seems to have crashed our builds.

Have you seen this? Any ideas on why that would be? Will revert back to previous version for now.

6:27:10 PM: node_modules/sveltestrap/src/Icon.svelte:10:4 - error TS2552: Cannot find name 'classes'. Did you mean 'class'?
6:27:10 PM: 10 $: classes = classnames(

Let me know if you need any more deta

[2020-09-13 12:30] jonjes opened #187 "Dropdown menu does not open in a Navbar"
When you click on a dropdown component in a navbar, the dropdown menu does not open.

You can also test this on the Sveltestrap Navbar component page:
https://sveltestrap.js.org/?path=/story/components--navbar
To test, click on the "Options" dropdown.

But otherwise, great work on this project.

[2020-09-13 20:27] bestguy commented on #186
Eee, sorry let me see what's up.

[2020-09-14 01:01] bestguy commented on #186
Hey @michaeljelly I'm unable to reproduce, tried with a Sapper app using Rollup.
Could provide more info on your build and how you are including sveltestrap?  Are you using Icon?

The naming convention I used in Icon.svelte should be same as used in other places, e.g. Alert:
https://github.com/bestguy/sveltestrap/blob/master/src/Alert.svelte#L16

[2020-09-14 17:16] Msimoneau commented on #187
Hi @jonjes,
Same here for sveltestrap version 3.8.1. I've found a simple workaround that's working for me. Uninstall (npm uninstall sveltestrap) and reinstall version 3.7.3 (npm install sveltestrap@3.7.3 --save-dev).

[2020-09-17 10:32] michaeljelly commented on #186
Interestingg. We weren't using Icon, which was why it was strange. Will see if it comes up again, atm we've just pinned the version.

It was specifically happening when our CI/CD auto-built the static app via using sapper export and deployed on a pipeline to Netlify.

[2020-09-18 01:22] bestguy commented on #186
Thanks, will try sapper export and see what's up.   Worse case I'll revert Icon if unstable.

[2020-09-25 15:04] Florian-Schoenherr opened #188 "CustomInput type="radio" events don't work."
`<CustomInput type="radio" id="someId" name="someName" label="Something"
on:input={() => console.log("doesn't work")}
on:blur={() => console.log("doesn't work")}
on:change={() => console.log("doesn't work")} />`

If it's something on my side, please tell me.

[2020-09-25 18:59] crazedVic opened #189 "Icon.svelte required Typescript enabled in Svelte project"
Currently:
"sveltestrap": "^3.8.1"
and
"svelte": "^3.28.0"

I just wanted to update my Svelte project from 3.20.1 and svelte-strap 3.3.3 and my project would no longer run.  Took a bit but the error was coming from:
node_modules/sveltestrap/src/Icon.svelte
Error: Cannot find module 'typescript'

which has this:
[code]

Because I am not using Typescript in this ongoing project nor do i have plans t

[2020-09-27 17:56] crazedVic commented on #189
Looks like Icon.svelte was added recently via pull request from bestguy:

https://github.com/bestguy/sveltestrap/blob/v3.8.0/src/Icon.svelte

Doing a quick search it appears that this project will require Typescript going forward?

What's the plan?

[2020-09-28 02:55] bestguy commented on #189
Hi @crazedVic , sorry the intention was not to require downstream TS unless doing the SSR src include (where transpilation is handled by user).  Can you confirm how you are importing the sveltestrap components?

In any case, this Icon component is causing other troubles too, I think I'll revert and release a new version.

[2020-09-28 03:46] bestguy commented on #189
Hi @crazedVic , this has been reverted in #190 and released as sveltestrap@3.9.0

Let me know if this corrects issue, thanks for heads up.

[2020-09-28 03:50] bestguy commented on #186
Hi @michaeljelly we've reverted Icon addition for now.  We've removed in #190 and released as sveltestrap@3.9.0
We were using typescript in the component as well, so our build was currently not setup to handle this.

Thanks for the heads up.

[2020-09-28 03:52] bestguy commented on #188
Hi @Florian-Schoenherr ,
Hmm that's strange, I thought was covered here: https://github.com/bestguy/sveltestrap/blob/master/src/CustomInput.svelte#L106

Let me try and duplicate locally, thanks for heads up.

[2020-09-28 15:16] crazedVic commented on #189
i was adding svelte-strap using npm.  I will update and see how it goes.  thanks!

[2020-09-28 15:41] bestguy commented on #188
Hi @Florian-Schoenherr ,

This seems to work for me locally, I added your sample to the storybook and see:

<img width="420" alt="Screen Shot 2020-09-28 at 8 39 56 AM" src="https://user-images.githubusercontent.com/405608/94454111-53d9b280-0166-11eb-8859-e0003097d4f2.png">

Could you confirm how you are importing and also check if your console filters are eating the events?

[2020-09-28 16:00] bestguy commented on #189
Cool, thanks for update, I'll close and feel free to reopen if you see any issues.

[2020-09-28 16:00] #189 closed

[2020-10-01 08:23] mugi111 opened #192 "the position of the menu when the dropdown is right-aligned opened."
https://sveltestrap.js.org/?path=/story/components--dropdown
It seems to me that the Alighment EXAMPLE in this URL has an unintended behavior.
I believe the right edge of the menu should be aligned with the right edge of the button, is that correct?
This issue also occurs with Direction EXAMPLE.
I think a possible cause is that the dropdown div is too wide. So setting `fit-content` to `width` in t

[2020-10-02 01:21] bestguy commented on #192
Hi @mugi111 ,
Thanks for the heads up.   Changing the dropdown class might work but that is not something we can fix in this library as people may use external Bootstrap files from CDN, etc.

I think we can add class or changes to Dropdown component, but you can also workaround by adding this to your code where you use Dropdown:

    <Dropdown class="d-inline-block" ...>

Can you confirm that beha

[2020-10-02 02:06] mugi111 commented on #192
@bestguy
Thank you for your quick reply.
You're right, you right.
I'm sorry I talked without understanding.

I confirmed behaves as I expect by that method.

[2020-10-02 02:21] bestguy commented on #192
It's no problem, we might want to default to that class in the component.  I'll look at change this weekend, thanks for the heads up.

[2020-10-02 02:42] mugi111 commented on #192
@bestguy
You're welcome.
I'm wishing for continued success of this great project.
I'm supporting this you and this project!

[2020-10-03 13:47] bestguy commented on #186
Closing as assumed fixed

[2020-10-03 13:47] #186 closed

[2020-10-04 16:21] Florian-Schoenherr commented on #188
My bad! I just didn't update to the newer version. I've even seen [this](https://github.com/bestguy/sveltestrap/blob/master/src/CustomInput.svelte#L106) on github but thought I already have it.
Well, guess I'll close this, sorry for wasting time..

[2020-10-04 16:21] #188 closed

[2020-10-05 16:28] lucianoratamero commented on #129
I have one quick question about this, since I'm pretty new to typescript.

All typescript validations work fine if I import, for example, the Input component in a `<script lang="ts">` component:
![image](https://user-images.githubusercontent.com/1103672/95105645-d4238900-070d-11eb-81fd-06de3b2a4b00.png)

But if I follow the SSR suggestions from the docs by importing the component directly, I lose

[2020-10-06 02:01] bestguy commented on #129
Hi @lucianoratamero , that's a good question - I'd assume it would "just work", but I'm not sure.
I'll try myself locally and confirm I see same issue.

[2020-10-06 02:01] bestguy commented on #188
Ah no worries, glad issue is fixed.

[2020-10-06 15:06] bestguy commented on #129
Hi @lucianoratamero , it seems like we would first need to change the build to include the `@types` in the src dir, and then you would need to change your SSR imports to this style:

[code]

Let me see if can move the types or change build script, will update here

[2020-10-07 02:20] bestguy commented on #129
Hi @lucianoratamero , can you please try this prerelease version and confirm this works?:
`npm install sveltestrap@3.9.1-2`

I think you will also need to change your ssr import style to:

[code]

(You might need to restart your editor too after updating)
Please let me know if this works, and I can do a proper release.

[2020-10-07 02:28] lucianoratamero commented on #129
hey, @bestguy, will do, first thing in the morning! thanks :)

[2020-10-07 14:04] lucianoratamero commented on #129
yup, it works @bestguy ! I'm not sure how to validate the tree shaking for SSR, but the types now work perfectly :]
do you mind explaining what exactly was the issue? I'm using sveltestrap as a model for a design system implementation, and I'd like to apply the same solution there!

[2020-10-07 15:34] bestguy commented on #129
Hi there, I'm not totally up on TypeScript and types resolution but we currently have a separate `@types` directory as part of the dist bundle, which we point to here: https://github.com/bestguy/sveltestrap/blob/master/package.json#L8.
For some reason TS support or IDE does not correlate that for SSR imports.  So another convention people use is to intermix the *.d.ts files in the src dir, which s

[2020-10-07 15:40] lucianoratamero commented on #129
hmmm, I see! :thinking:  I'll try this on my project, then, thanks :]

oh, another thing: just to remind you, this part of the readme is suggesting for people to use the type of SSR import that doesn't work with the types: https://github.com/bestguy/sveltestrap#note-on-server-side-rendering-ssr-usage-fixed
maybe updating these docs on the same PR is the best way to go!

[2020-10-07 17:02] bestguy commented on #129
Yes thanks for reminder!  Good idea

[2020-10-08 13:35] bestguy commented on #129
Hi @lucianoratamero, this was released in [sveltestrap@3.9.1](https://github.com/bestguy/sveltestrap/releases/tag/v3.9.1)
Let me know if you see any issues with it.

[2020-10-08 13:36] bestguy commented on #129
Support should be good now!

[2020-10-08 13:36] #129 closed

[2020-10-12 11:15] rohanrajpal opened #196 "how to use with sapper?"
Hey, I'm new to web dev and started off with sapper. However, I can't get my head around where should I import the bootstrap CSS file?

So far I have done
[code]
I import the css in `template.html`
[code]
Then I pasted the following in `src/routes/index.svelte`
[code]

All the above steps give me the error:
[code]
So which js file should import the bootstrap CSS?

[2020-10-12 13:55] bestguy commented on #196
Hi, there is a note on SSR usage on the home page, near the bottom: https://sveltestrap.js.org

[2020-10-12 14:08] rohanrajpal commented on #196
How did I miss that! Importing the component directly fixed it for me. Thanks :smile:

[2020-10-12 16:44] bestguy commented on #196
Feel free to reopen if see further issues

[2020-10-12 16:44] #196 closed

[2020-10-13 10:45] TheComputerM commented on #14
In order to use external styles or scss variables, a lot more setup will be required on the users end. [svelte-materialify](https://github.com/TheComputerM/svelte-materialify) allows for variable customization but that comes at a heavy cost needed for users to install `sass svelte-preprocess postcss`. Is there any simpler way to achieve this?

[2020-10-14 08:58] quasarchimaere opened #197 "Input readonly prop"
afaik the readonly is a parameterless property and thus adding the default readonly prop will result in `readonly="false"` to be added to the html input tag. which causes the default bootstrap css to be applied to the input making it look disabled

sveltestrap version: 3.9.2
did not happen in: 3.9.0

[2020-10-15 01:19] bestguy commented on #197
Oops, yes you are correct.  Will patch

[2020-10-15 02:58] bestguy commented on #197
Corrected in [sveltestrap@3.9.3](https://github.com/bestguy/sveltestrap/releases/tag/v3.9.3), thanks for the heads-up

[2020-10-15 11:40] quasarchimaere commented on #197
just tried it with 3.9.3 and it works as intended, thanks!

[2020-10-15 11:40] #197 closed

[2020-10-15 15:16] Msimoneau commented on #187
Hi @bestguy,

It seems the commit(0d6c1f0) makes the Dropdown menu in navBarMenu stop working.
The addition of the style "overflow: hidden;" to the Collapsable.svelte div prevent the menu from opening.
I've locally reverted this commit in my version 3.9.3, and it's working fine.

Thanks for svelvtestrap !!

[2020-10-15 16:27] vfilatov commented on #187
Yes, that is the workaround!
Thank you, @Msimoneau !

[2020-10-16 00:22] bestguy commented on #187
Oh!  Thank you @Msimoneau - I completely forgot that was related, will revert and find a better fix for that!

[2020-10-16 03:01] bestguy commented on #187
Should be fixed by #199 , published in [sveltestrap@3.9.4](https://github.com/bestguy/sveltestrap/releases/tag/v3.9.4) Thanks all for the heads up on the issue.

[2020-10-19 16:01] bestguy commented on #44
This idea won't be that useful until https://github.com/sveltejs/svelte/issues/1037 is resolved, as currently this currently requires a wrapper html element like a div, etc:

[code]

Which doesn't seem any better than what we currently support:

[code]

[2020-10-19 16:03] bestguy commented on #110
I'm closing in favor of #156 , and we've started a v5 branch here: https://github.com/bestguy/sveltestrap/tree/v5

[2020-10-19 16:03] #110 closed

[2020-10-19 16:04] bestguy commented on #127
Resolved in other repo, thanks.

[2020-10-19 16:04] #127 closed

[2020-10-19 16:05] bestguy commented on #151
Hmm, thanks for heads up, let me look locally.

[2020-10-21 15:50] bestguy commented on #187
Closing, let me know if not resolved.

[2020-10-21 15:50] #187 closed

[2020-10-21 15:52] jonjes commented on #187
Yes, it works great now.  Many thanks to you and @Msimoneau for the fix!

[2020-10-22 16:19] IAL32 opened #200 "document is not defined at Carousel:26"
I tried to just copy-paste the example noted [here](https://sveltestrap.js.org/?path=/story/components--carousel), the "With Captions" one, but I get this instead of the Carousel:

[code]

Which points to this:

[code]

According to [this StackOverflow answer](https://stackoverflow.com/a/56184892), the problem appears to be connected to the fact that `document` is only available after the componen

[2020-10-22 16:25] bestguy commented on #200
Hi, are you. doing this in Sapper or server side rendering by chance?

[2020-10-22 16:30] IAL32 commented on #200
Yep, I have updated the issue with my current Sapper version: v0.28.0

[2020-10-22 16:36] bestguy commented on #200
Thanks, and just to confirm, are you importing like mentioned here:
https://github.com/bestguy/sveltestrap#note-on-server-side-rendering-ssr-usage-fixed

and is sveltestrap in your dev dependencies?
(Just checking as there are always weird issues with Sapper SSR)

[2020-10-22 16:43] IAL32 commented on #200
Currently, my devDependencies are as follows:

[code]

And my copy-paste component is this:

[code]

[2020-10-23 02:46] bestguy commented on #200
Hi @IAL32 this is released in sveltestrap@3.9.5

Please let me know if looks good and welcome to close this.

[2020-10-24 15:18] schamane opened #202 "DropdownToggle color attribute refers wrong Color enum with outline styles"
What i would like to do:

[code]

But colors doesn't support outlined ;(

[2020-10-24 15:28] bestguy commented on #202
Hi @schamane, since DropdownToggle extends Button by default, outline is not a color, it's a boolean prop:

[code]

https://github.com/bestguy/sveltestrap/blob/master/src/DropdownToggle.svelte#L76

[2020-10-24 16:01] schamane commented on #202
Ou, sorry, i wasn't found it my way. Thanks a lot. Great project!

`<DropdownToggle caret outline color="secondary">`

[2020-10-24 16:02] #202 closed

[2020-10-28 01:00] bestguy commented on #156
We nearing completing of v5 alpha 3 parity: https://github.com/bestguy/sveltestrap/compare/v5?expand=1

but still missing Form changes that impact FormGroup, Labels & Inputs.  Hopefully should be ready for an alpha 3 pre-release this weekend or next week.

[2020-10-29 14:16] bestguy commented on #200
Will close, should be fixed in 3.9.5.  Please reopen if still seeing issues

[2020-10-29 14:16] #200 closed

[2020-10-30 22:04] mmrath commented on #156
@bestguy Is it possible to publish the alpha versions of sveltestrap supporting bootstrap v5 alpha?

[2020-10-31 02:28] bestguy commented on #156
Hi @mmrath, yes, however I'd like to complete alpha3 parity (forms and inputs are currently in progress). I hope to have a pre-release this weekend

[2020-11-02 02:20] bestguy commented on #156
@mmrath  @BenHayat and others, we've published sveltestrap@5.0.0-alpha.3 which should give parity to Bootstrap 5 alpha 3.

To try, please note you'll need to `npm install sveltestrap@5.0.0-alpha.3`
Specify the exact version when installing, as these have a `beta` tag.

You'll also need to include Bootstrap v5 as your CSS such as: `https://v5.getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css`,
s

[2020-11-11 10:18] PaulEbose opened #206 "Lazy load images"
I don't know how opinionated this might be _or_ the repercussions in some use cases
but it would be nice to lazy load images by default

[2020-11-12 02:32] bestguy commented on #206
Hi @PaulEbose , that's an interesting idea, do you mean in Carousel?
I'm not sure of any other direct usages of img tags

[2020-11-12 04:35] PaulEbose commented on #206
Yesss. I initially thought there were more image tags in other places. I search the repo and saw about 6 results, 4 of which are in Carousel Item components

https://github.com/bestguy/sveltestrap/search?p=1&q=%3Cimg

[2020-11-12 16:54] bestguy commented on #206
Cool thanks, actually now that I'm looking at the Carousel code, we don't wrap the `<img>` tag in a component, and user just passes in:

[code]

So you can enable lazy loading that way without needing to change any Carousel components

[2020-11-12 18:13] PaulEbose commented on #206
Yeah, this is true. Thank you!

Also, another reason I opened this issue is because I wanted to use the `Media` component to _lazy load_ an image. There was no intellisense in vscode so I came here digging for answers.

I meant to also refer to this https://github.com/bestguy/sveltestrap/blob/master/src/Media.svelte#L51
If it is loaded lazily by _default_ or a prop is used

[2020-11-12 20:16] bestguy commented on #206
Ah, yes that one does wrap an img, however we support restProps and you can do this:

[code]

[2020-11-12 20:21] PaulEbose commented on #206
Okay, thank you very much

[2020-11-12 20:21] #206 closed

[2020-11-13 03:17] bestguy commented on #156
Updated to `sveltestrap@5.0.0-alpha.3-1` to update to latest Bootstrap alpha 3 parity

[2020-11-14 22:10] bestguy commented on #156
Updated to `sveltestrap@5.0.0-alpha.3-2` to update to correct some issues.

`npm install sveltestrap@5.0.0-alpha.3-2`

[2020-11-29 10:13] hcrohland opened #210 "Dropdown in table is hidden by table border"
Hi,

I am toogling a dropdown within a table. The dropdown will only display within the table range. I can scroll the table to see the rest.

I think it should not be rendered within the table but in the window.

This might be similar to  #199

Best,
Christoph

[2020-11-30 16:29] bestguy commented on #210
Hi @hcrohland, could you share a code sample?  Could alto be issue with table responsive CSS.

[2020-11-30 18:39] hcrohland commented on #210
Yes exactly. It only happens with a responsive table:
https://svelte.dev/repl/3208d980faca4c288d6f2a08186a7722?version=3.30.0

[2020-12-02 01:40] bestguy commented on #210
Thanks, looking if can fix in components at we are currently not using popper.js to position these

[2020-12-11 16:59] bestguy commented on #156
Updated to sveltestrap@5.0.0-alpha.3-3 to add [Accordion](https://getbootstrap.com/docs/5.0/components/accordion/)

`npm install sveltestrap@5.0.0-alpha.3-3`

[2020-12-14 05:59] zfranco55 opened #211 "Components size"
As in bootstrap it is possible to change the size of the components like small, default large?

[2020-12-18 11:52] kenhorn opened #212 "TabContent / TabContext / TabPane - shared state for all instances"
I'm just learning Svelte and Sveltestrap -- thanks for a great lib on a great tool, has made me productive and eased the migration to adoption w bootstrap (also learning..).

In my UI naivety (I'm no UX designer), I wanted to put multiple tab components (whether tabs or pills, horz or vert) on the same page. However, the tab state for activeTabId is held in a shared writable store. Is it possible

[2020-12-21 22:20] bestguy commented on #212
Hi @kenhorn , ah you are correct, that is wrong behavior in sveltestrap.  We should be able to have multiple tab panes on same page.  We'll look at this to correct soon

[2020-12-21 22:21] bestguy commented on #211
Hi @zfranco55 , yes it is, we have props for that in components like Button and Table.  Which are you looking at that does not?

[2020-12-22 05:49] zfranco55 commented on #211
Table

Il giorno lun 21 dic 2020 alle ore 23:21 bestguy <notifications@github.com>
ha scritto:

[2020-12-22 16:13] bestguy commented on #212
Hi @kenhorn , this should be corrected by #213, and was released in `sveltestrap@3.9.7`.

Please confirm and can close the issue.

[2020-12-22 18:03] bestguy commented on #211
Ah, yes we do support size, just missing from docs:

`<Table size="lg">...</Table>`
`<Table size="sm">...</Table>`

I'll update the Table doc samples to make this clearer

[2020-12-22 18:18] zfranco55 commented on #211
I also meant as height of the table rows, which in boostrap the table
propity is defined as: "small"

Il giorno mar 22 dic 2020 alle ore 19:03 bestguy <notifications@github.com>
ha scritto:

[2020-12-22 22:16] kenhorn commented on #212
That fixes it -- though I'm not clear on the correct tab example -- I've
put my test below.   Also, have added my own tab impl, which is similar but
compact (but not fully bootstrap compliant etc).

Thanks for the fast fix and release!

<script>
import { Nav, NavItem, NavLink, TabPane, TabContent } from "sveltestrap";
let activeTabId1 = "x";
let activeTabId2 = "y";
</script>
<div class="row pt-2">

[2020-12-23 00:24] bestguy commented on #211
.table-sm and .table-lg (on the Table) control this as far as I know.  The size prop above sets those on the table

[2020-12-23 03:43] bestguy commented on #212
Thanks, yeah that's a good idea, I think these components should be simplified for this usage.  We are prepping v5 and will look at adding something like this.

[2020-12-23 03:43] #212 closed

[2020-12-23 05:35] zfranco55 commented on #211
Ok, thanks.

Il giorno mer 23 dic 2020 alle ore 01:24 bestguy <notifications@github.com>
ha scritto:

[2020-12-26 13:38] eddie0329 commented on #31
Hi. @bestguy.  I have quick question before implementing tooltip.

Should i implement just like bootstrap tooltip, which is having attribute like `data-toggle="tooltip"` ?

or Should i implement like wrapper

[code]

[2020-12-26 13:58] kefahi commented on #156
Hello @bestguy
Thank you for the job well done!
I'm interested in BS5 beta due to the RTL support.
I was wondering if you started working on updating the V5 branch to support BS5 Beta.
Please let me know if help is needed. I would at least help with testing as an early adopter in my multi-lingual CMS.
Regards,

[2020-12-26 17:21] bestguy commented on #31
Hi @eddie0329 , thanks for the help!   We've been following React-style props vs `data-` style attributes and would suggest something such as:

[code]

[2020-12-26 17:23] bestguy commented on #156
Hello @kefahi ,

Yes we are mostly compatible with beta 1, there was just a change to the utility class names and I have a PR for that.  I will try and release beta 1 this weekend.

[2020-12-27 03:37] bestguy commented on #156
Hi @kefahi,
We've published `sveltestrap@5.0.0-beta.1` which should include the new RTL changes.  Please try out and let me know if you see any issues.

[2020-12-28 04:29] bestguy commented on #31
Released in [sveltestrap@3.10.0](https://github.com/bestguy/sveltestrap/releases/tag/v3.10.0), thanks @eddie0329

[2020-12-28 04:29] #31 closed

[2020-12-28 04:43] eddie0329 commented on #32
Hi @bestguy. Should I implement popover like tooltip?

[code]

and Can I implement this as below?

[code]

Or the props one?

[code]

[2020-12-28 15:24] bestguy commented on #32
Hi @eddie0329, Thanks, I'd suggest we support:

[code]

And optionally allow title as slot for html content:
[code]

Internally this would look like:

[code]

Hope this makes sense!

[2021-01-02 15:05] eddie0329 opened #219 "Change Tooltip isHover"
Currently tooltip impented as follow:

[code]

Proposed:

[code]

How about the proposed version tooltip like popover? @bestguy
debugHover was for testing reasons. But I think this does not needed when isHover exposed. And exposing isHover can enable user more flexible.

[2021-01-02 15:25] #219 closed

[2021-01-02 16:30] bestguy commented on #219
Good idea @eddie0329 , updated with #220

[2021-01-02 16:37] bestguy commented on #32
Released in [v3.11.0](https://github.com/bestguy/sveltestrap/releases/tag/v3.11.0) thank you all for the help!

[2021-01-02 16:37] #32 closed

[2021-01-14 08:30] RudolfVonKrugstein opened #222 "[5.0.0-beta.1] Is bootstrap css auto-imported? Can I use boostrap without a CDN?"
I am trying out the `5.0.0-beta.1` branch.

I installed `sveltestrap@5.0.0-beta.1`. Than, without adding the boostrap css import, I tried out the dev server and noticed:

`boostrap.min.css` is already loaded from `https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css`.

In the documentation, it says, that I have to import the boostrap css. Is that still true? Because I did

[2021-01-14 10:39] RudolfVonKrugstein commented on #222
I do not know what I did wrong, but my first problem vanished. I re-created the project and bootstrap.min.css does not get loaded automatically anymore.

For importing bootstrap without a CDN, I did the following:

I installed bootstrap via npm:

[code]

And than I followed this stackoverflow post: https://stackoverflow.com/questions/63299785/how-to-setup-global-bootstrap-via-scss-in-svelte to use

[2021-01-14 10:39] #222 closed

[2021-01-15 01:46] bestguy commented on #222
Hi @RudolfVonKrugstein ,
No problem.  Note we include similar instructions on [https://sveltestrap.js.org/](https://sveltestrap.js.org/?path=/story/components--get-started) under 'Adding Bootstrap'.

[2021-01-15 02:21] bestguy commented on #156
We've published sveltestrap@5.0.0-beta.1-1 which now includes Popover and Tooltip updates from v4.

[2021-01-20 16:02] lovetoast commented on #66
Hi @bestguy first, thanks for this library!

I don't think this is fixed though, certainly, I tested and it doesn't work and further to that, in Input.d.ts, there is not a group option in

IInputProps

[2021-01-20 16:21] bestguy commented on #66
Hi @lovetoast ,
Sorry my comment about "fixed in 3.2.7" was related to macsupport's side comment about `on:input`.

The group issue is related to https://github.com/sveltejs/svelte/issues/2308 where Svelte does not support `bind:group` with nested components like Sveltestrap.

Would love to know a workaround or fix if you find one!

[2021-01-20 16:23] bestguy commented on #66
There is a workaround suggestion from community: https://github.com/sveltejs/svelte/issues/2308#issuecomment-548616383

I'll see if it's something we could add to sveltestrap.

[2021-01-20 16:28] lovetoast commented on #66
@bestguy thanks for the fast response, that was actually going to be my suggestion haha!

[2021-01-21 03:45] bestguy commented on #156
We've published sveltestrap@5.0.0-beta.1-2 which now includes Popover fixes and now includes Bootstrap Icon support

[2021-01-21 21:14] V-ed opened #227 "Popover Typescript definition missing"
While Popover is available through javascript using definitions from the package :

https://github.com/bestguy/sveltestrap/blob/934dca68441899eaafd378f5d7186e74b1a03267/src/index.js#L64

The definition is not present in `index.d.ts` : https://github.com/bestguy/sveltestrap/blob/934dca68441899eaafd378f5d7186e74b1a03267/src/index.d.ts

---

A quick fix until then is to add a file under `./@types/sve

[2021-01-22 14:16] bestguy commented on #227
Ah, oops!  Sorry we missed.  There is a PR open to fix (#228) but pending a question

[2021-01-22 14:20] V-ed commented on #227
No worries, thanks for the quick response, will be updating once it's released with that PR! :)

[2021-01-22 14:51] bestguy commented on #227
Hi @V-ed this is released in [sveltestrap@3.12.2](https://github.com/bestguy/sveltestrap/releases/tag/v3.12.2)

Please confirm this corrects your issue and feel free to close issue if so.

[2021-01-22 14:56] V-ed commented on #227
It does indeed, thanks for the quick fix!

[2021-01-22 14:56] #227 closed

[2021-01-25 01:26] kefahi commented on #156
Thank you for the amazing work!

I tried the latest version on a simple setup and came across two issues.
1. InputGroupAddon is missing entirely. Is this intentional? if so what is the alternative.
2. Bootstrap Icons are loaded via hardcoded link. I would rather leave this to the developer to decide (in the same way how bootstrap css files are served).

Please let me know if you want me to open ti

[2021-01-25 01:34] bestguy commented on #156
Hi @kefahi, yes regarding 1, these have been removed in Bootstrap v5: https://getbootstrap.com/docs/5.0/forms/input-group/
Order comes from the children you put in the InputGroup. InputGroupAddon container is no longer needed.

On 2, hmm yes that might be better, although unlike bootstrap css there is no "themes" for icons.  Let me look at this over next days, and creating issue is fine for this o

[2021-01-27 12:51] eeemarv opened #230 "TypeError: placement.split is not a function (Popover & Tooltip)"
Hi,
Following the example from the demo site I'm trying to use the Popover in an Electron app, but I get this
(First a warning):

Then an uncaught TypeError

    at getBasePlacement (getBasePlacement.js:3)
    at distanceAndSkiddingToXY (offset.js:4)
    at offset.js:31
    at Array.reduce (<anonymous>)
    at offset (offset.js:30)
    at Object.forceUpdate (createPopper.js:183)
    at createPoppe

[2021-01-27 15:56] bestguy commented on #230
Thanks!   Will take a look

[2021-01-27 16:00] bestguy commented on #230
Can you please pass your code sample usage of Tooltip & Popover.   `placement` sounds like it's undefined, but there is a default value in our code.

[2021-01-27 18:10] eeemarv commented on #230
Ok thanks, adding the placement attribute makes no difference.

[code]

[2021-01-27 18:21] eeemarv commented on #230
And Tooltip
[code]

[2021-01-28 01:49] bestguy commented on #230
Thanks, and to confirm your real code includes quotes?  For example:

[code]

[2021-01-28 08:51] eeemarv commented on #230
@bestguy, no that was my real code. But quotes or not gives the same result. (I verified now to sure).

[2021-01-30 17:09] bestguy commented on #156
We've published sveltestrap@5.0.0-beta.1-4 which now includes Row `cols` support.

[2021-02-10 04:09] bschwarz opened #233 "Trouble creating a Nav tabs"
"sapper": "^0.28.0",
"svelte": "^3.32.2"
"sveltestrap": "^3.13.0"

I am not sure what I am doing wrong. I am using Sapper/Svelte. I have the below code:

[code]

When I inspect the render page, it comes to this:
[code]
This seems correct, at least per the bootsrap docs.

When the page is rendered, the tabs show up, but neither are active and when I click on them, neither one shows the content. I h

[2021-02-10 15:17] bestguy commented on #233
Hi, hmm let me look locally.   One quick observation is you should only have active on one item, and you have multiple.

[2021-02-10 15:53] bestguy commented on #233
Hi @bschwarz,

Looking at your example, I noticed a few things.
- The  main one is sveltestrap `Nav` and `TabContent` don't use the `data-` attributes and Bootstrap global JS interface from getbootstrap.com docs, and instead you need to set the activeTab prop yourself, or tie into the sapper routing to do same.
- You also need to do this for the `active` prop on the `NavLink` (not `NavItem` as you

[2021-02-10 15:55] bestguy commented on #233
Let me know if this helps and feel free to close if so.  I agree that the TabContent components need documentation to make this usage clearer.

[2021-02-10 16:13] bschwarz commented on #233
Thanks for the quick turnaround, it works now. I am new to Sapper/Svelte, so I am still learning. If I have time this weekend I can help updating docs for this, if needed.

[2021-02-10 16:13] #233 closed

[2021-02-11 01:03] stefanuddenberg commented on #30
Is there any progress on adding support for transitions?

[2021-02-11 01:05] daytonlowell commented on #30
Not yet. Always looking for contributors though!

[2021-02-14 08:27] junaidy-johm opened #234 "modal static"
How to make modal static mode

[2021-02-15 00:55] bestguy commented on #234
Hi @junaidy-johm , looks like a bug!  We are unable to pass the correct styles and disable backdrop without some code changes.  We'll correct this week, thanks for the heads up.

[2021-02-15 21:22] kefahi commented on #156
Hello, I wanted to let you know that the more recent `bootstrap 5.0.0-beta2` is working with `sveltestrap 5.0.0-beta.1-4` without any noticeable issues.

[2021-02-16 23:17] bestguy commented on #156
Ah thank you!  I'll look at their release notes

[2021-02-19 08:12] bianchilo opened #235 "using on:submit|preventDefault handler on Form component"
Hi,

i'm trying to use "sveltestrap" in a sapper test project. I have a problem implementing a login form: when I try to inhibit submit using preventDefault and define a login handler:

  <Form method="POST" on:submit|preventDefault={login}>

i get the error:

Event modifiers other than 'once' can only be used on DOM elements

Do you have any suggestions?

[2021-02-23 08:13] michapixel opened #236 "Icons / CSS externally"
Since sveltestrap pulls the icons via css import from jsdeliver:
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css');

i have two concerns with that:
a) why don't you omit the version, like in
https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css
which always gives you the latest version
do you really think this is too risky?

but
b) is much g

[2021-02-24 01:54] bestguy commented on #236
Hi there, yes thanks understood.
This was a MVP to make icons easy basically. The alternatives I see are to:

1. Make the URL configurable or overridable
2. Make people include the external CSS and don't import in this library
3. Make an additional Icon component that does not include styles (without totally confusing people with 2 icon components)
4 Embed the SVG icons directly in this library
5.

[2021-02-24 07:03] michapixel commented on #236
The external (local) css won't help since you'd need the fonts too. Plus: the css has likely the "wrong" (unwanted) path to the fonts.
I would be willing to spend some time with this, although I'm fairly new to svelte and might not have the best view for this kinda decisions.

[2021-02-24 15:21] bestguy commented on #236
The CSS uses relative paths to the font files so you can host yourself too I believe.

I think the alternative is using the svgs directly, but feels like we should start a separate icon package vs combining that many files into sveltestrap bundle

[2021-03-12 22:38] romanown commented on #235
to try  before it add test for defined  the `window` variable. it helped me to initiate the sliders on other library. example `window !== 'undefined'`

[2021-03-12 22:48] romanown opened #237 "Input component type=select with different name and value parameters"
can I use Input component `type=select` with different name and value parameters? For example, when I select a city, its name is displayed and the value is its ID.
my code is right?
[code]

[2021-03-12 23:58] romanown opened #238 "not show default option after fetch datas"
when i fetching the datas for options default value do not match as selected in Input `type = select `component.
if it static so work fine.
but the simple html select works correctly.
[https://svelte.dev/repl/e20365bfaed443a9b2dc66564b4dac4b?version=3.24.0](https://svelte.dev/repl/e20365bfaed443a9b2dc66564b4dac4b?version=3.24.0)

[2021-03-13 16:58] coyotte508 commented on #235
Svelte only allows modifiers on DOM element, it's not specific to bootstrap.

A solution would be to change sveltestrap so that the `preventDefault` prop is added to `Form`:

[code]

Anyway, the only thing the `Form` component does is add the `form-inline` class if `inline={true}` is passed. You can just do instead:

[code]

[2021-03-14 12:38] coyotte508 opened #240 "Is it ok to contribute smarter components?"
For example, `Pagination`, the example gives:

[code]

It would be nice to have a component available that's less verbose. I based myself on BootstrapVue's behavior and created [this](https://gist.github.com/coyotte508/f9bdc4e82f4e8335cb0c6077eecb088a) to use in my project. It can be used like that:

[code]

![image](https://user-images.githubusercontent.com/342922/111068739-52a90180-84ca-11eb-88e

[2021-03-14 13:24] abbychau commented on #234
is it fixed?

[2021-03-15 08:53] bwesth commented on #30
Simply copy-pasting the carusel component from sveltestrap yields this TS error

Type '{ items: string[]; activeIndex: number; }' is not assignable to type 'IntrinsicAttributes & ICarouselProps & LocalSvelteProps'.
Type '{ items: string[]; activeIndex: number; }' is missing the following properties from type 'ICarouselProps': next, previous
ts(2322)

Is the examples updated?

[2021-03-18 22:46] bestguy commented on #30
Hi @bwesth ,

This seems to work fine for me in TypeScript:

https://svelte.dev/repl/c7f5e86874c549809f4cfcc2829f0714?version=3.35.0

Can you confirm your build/imports?

[2021-03-18 22:51] bestguy commented on #30
Oh it looks like we mark `next` and `previous` as required in TS: https://github.com/bestguy/sveltestrap/blob/master/src/Carousel.d.ts#L8

That may not be correct, but let me confirm soon.  If not, we can release a new build with the correct types.

[2021-03-20 15:18] bestguy commented on #30
Hi @bwesth ,

I think this should be corrected by: https://github.com/bestguy/sveltestrap/pull/241/files

Will release a new version this weekend, thanks for the heads up.

[2021-03-20 23:12] StevenClontz opened #242 "Hide modal instead of destroy"
I have a modal that contains an iframe. When I show/hide the modal, the iframe is destroyed and recreated. It'd be great if the modal could be just hidden so that the iframe persists between toggles.

[2021-03-21 14:33] bestguy commented on #234
Hi, not yet, sorry I saw a few other issues with Modal and a delay fixing them.  I'll try and address this week.

[2021-03-21 15:10] bestguy opened #243 "Modal fixes needed"
Modals need some reworking:

- Need to support static modals (in page content) (#234)
- Support rendered, but not visible modals (#242)
- Rework the `modal-open` classname logic to use context
- Support `fade` class
- Ability to disable backdrop

[2021-03-23 02:34] bestguy commented on #240
Hi @coyotte508, thanks, that's a good question.  I've also considered this for some other components like Table helpers, date pickers, etc.

I think it's a good idea, though not sure if we should add here, or maybe create a new package like 'sveltestrap-addons' etc?

Any thoughts?

[2021-03-23 07:50] coyotte508 commented on #240
I think a second package is a good idea. It would give freedom to change more components and have a bit more opinionated behavior

I have a few more components to add - a checkbox and a card without the need to specify header/body for now - I would be happy to make PRs on the new package.

[2021-03-23 14:33] bestguy commented on #240
Thanks, let me look at a new package this week and will reply back once I've set up something.

[2021-03-25 15:56] bestguy commented on #242
Hi @StevenClontz ,
Yes that sounds like a good idea.  We've published `sveltestrap@4.0.0-alpha.0` that supports this if you could please install (`npm install sveltestrap@4.0.0-alpha.0`) and confirm it works for you.  Note we had to bump to v4 since it requires a newer version of svelte to support this.

Please reply here and/or close and we can publish v4 release.

[2021-03-25 16:01] bestguy commented on #234
Hi @junaidy-johm @abbychau ,

We've published `sveltestrap@4.0.0-alpha.1` that supports this if you could please install (`npm install sveltestrap@4.0.0-alpha.1`) and confirm it works for you.

Note we had to bump to v4 since another modal fix requires a newer version of svelte to support.

Please reply here and/or close and we can publish an official v4 release.

[2021-03-25 16:01] StevenClontz commented on #242
I actually decided to implement this feature in my app without a modal anyway. I'm happy to try the new feature out when I can anyway, but I don't want to block your release and cannot promise to get to it today. Thanks for addressing my request in any case!

[2021-03-25 16:02] bestguy commented on #242
No problem, thanks for heads up.  Yes would be great if you could try when you get a chance, I'll leave open until then.

[2021-03-25 16:03] bestguy commented on #243
Fixed in #244

[2021-03-25 16:03] #243 closed

[2021-03-25 21:35] bestguy commented on #237
Hi @romanown ,

Yes that looks correct.  Are you seeing issues with that?

[2021-03-25 22:17] romanown commented on #237
i fixed it so far

[2021-03-25 22:21] #237 closed

[2021-03-26 04:15] bestguy commented on #238
Hi @romanown , it seems to be due to the option value actually being a string.  This works with a small update:

[code]

https://svelte.dev/repl/0c2998b324e14f53b8afe8e1493369f6?version=3.24.0

Not sure why that would be different from select, but seems reasonable workaround.

[2021-03-26 04:18] bestguy commented on #243
Fixed in #244

[2021-03-27 14:44] kamalkech opened #245 "Svelte kit"
Sveltestrap is compatible with Sveltekit ??

i test with two case, install it as dev dependencies (llike on sapper) and as dependecies but get this error :

[code]

[2021-03-27 17:36] bestguy commented on #245
Hi @kamalkech , thanks I haven't tested yet.  Will take a look at what the issue or tweaks needed are.

[2021-03-27 21:46] bestguy commented on #245
Hi @kamalkech , can you please try to install `npm install sveltestrap@4.0.0-alpha.2` and confirm here if this fixes the issue?

I think it's an issue with es modules and updated to lodash-es.

[2021-03-27 23:50] bestguy commented on #156
We've released `sveltestrap@5.0.0-beta.3` to match Bootstrap v5 beta 3.
Adds the new Offcanvas component and numbered ListGroup.

[2021-03-28 03:14] bestguy commented on #236
Update on this, I think I'm going to go with option 2 above (Make people include the external CSS and don't import in this library) for next versions of sveltestrap (v4, and v5 for Bootstrap 5).

I don't see any better options given that the version of icons will get stale if I include here.  Thanks for the issue, will update in next week or two.

[2021-03-28 15:42] kamalkech commented on #245
@bestguy i found a solution by adding this line in vite config (svelte.config.cjs) :

[code]

[2021-03-28 15:42] #245 closed

[2021-03-28 16:09] bestguy commented on #245
Thanks for info @kamalkech

I went ahead and removed lodash as a dependency, it was overkill for the need here.  Published as `sveltestrap@3.13.1`

[2021-03-29 00:23] bestguy commented on #234
Hi this is released in `sveltestrap@3.14.0`
Please see docs here under "Static": https://sveltestrap.js.org/?path=/story/components--modals

Please reopen if you see any issues.

[2021-03-29 00:23] #234 closed

[2021-03-29 10:22] kamalkech commented on #245
greate ;)

[2021-03-29 18:51] StevenClontz commented on #242
In my `package.json`, changing

[code]

to

[code]

and an `npm install` introduces the following error without any other changes to my app:

[code]

My app is based upon https://github.com/sveltejs/template

[2021-03-29 19:42] koo5 opened #248 "firefox: Modal shows too high up on the page"
When the page is scrolled down, that is. Even the "backdrop" that you could click on to close the modal is so far up that it's not where the page is scrolled down to, at all. You can find the modal by shift-tab'ing.
currently, this behavior can be seen on https://fullcracy.xyz/  . All you should have to do is to scroll halfway down the page, then click "Participate".

[2021-03-29 20:17] bestguy commented on #242
Hi, yes v4 has a peer dependency on svelte 3.28.0 or greater, and might need to update your rollup-svelte-plugin.

(`#key` syntax requires newer svelte, hence the major version change.)

[2021-03-29 20:29] bestguy commented on #248
Hi there, thanks,
I saw issue, but I'm having some trouble duplicating more than once, your site will just scroll to other sections when clicking participate after I reload.
First time, FF moved to the modal+backdrop when I selected it in the inspector, and then it looked fine.

The samples page (https://sveltestrap.js.org/?path=/story/components--modals) works fine with FF, so wondering are you d

[2021-03-29 21:48] koo5 commented on #248
thanks for looking into it.

 I agree that that the samples page works correctly, even when the iframe (or what is it) is scrolled.

About my site, it only shows the dialog the first time you click. To get a new dialog, open the profile page (you can do it in another window, it's all localstorage-connected) and click "Log out". This will give you a fresh user and you can click again.

There indeed

[2021-03-29 22:05] koo5 commented on #248
Firefox Nightly currently same behavior.

[2021-03-29 22:08] bestguy commented on #248
Yeah that's odd.  One thing is the samples page behaves correctly even when opening a modal in a scrolled page (https://sveltestrap.js.org/?path=/story/components--modals) , and trying to debug your site seems to have some odd visibility with the transform3d attributes?  At least when I mod the values.

I'd rec'd trying to trigger a test modal maybe as part of the layout and not within the the inn

[2021-03-29 23:33] koo5 commented on #248
idk if that's what you call "transform3d", but the problem is this line:
```filter: hue-rotate(var(--hue_rotate)) contrast(var(--contrast)) invert(var(--invert)) saturate(var(--saturate));```

[2021-03-29 23:35] bestguy commented on #248
Oh weird, that's all visual/color stuff.  Cool if that fixes!

[2021-03-30 00:42] koo5 commented on #248
totally does. I put in a hack to unset/set one of the css variables before/after modal.
i'll try to preserve a "do not click this button" demonstration of the faulty behavior in https://fullcracy.xyz/dev_area
thanks for the help.

[2021-04-06 19:55] kkarpeev commented on #236
Hello! Can you please hurry with this?

[2021-04-06 20:52] bestguy commented on #236
Hi we'll get v4 out soon, but to be honest this Icon component doesn't do much much.  It just outputs a tag with the icon classname:

<i class="bi bi-fonts"></i>

So you can easily use the above with your own icon font in the meantime.

[2021-04-15 10:13] PrzemekGalek opened #250 "Tooltip: Reference error in createPopper.js"
Disclaimer: this issue report definitely needs to be checked, as I'm not very exprienced and I assume there is quite a big chance I did something wrong and there is no issue at all. If thats the case, I apologize in advance :)

Minimal working example is:

[code]

After hovering the button, it shows a tooltip (not exactly properly aligned) and immediatelly throws an error:

[code]

Minimal build j

[2021-04-15 15:04] bestguy commented on #250
Thanks @PrzemekGalek , hmm that is odd, I don't see here:
https://sveltestrap.js.org/?path=/story/components--tooltip

But I do see in repl:
https://svelte.dev/repl/d9ae4209abb747c1b232680320240ea5?version=3.37.0

It might be due to svelte or popper change using latest versions, let me see what's up

[2021-04-17 12:28] bestguy commented on #250
I think this is the root issue:  https://github.com/popperjs/popper-core/issues/933

I'll look at what import we can change that supports the built and src versions.

[2021-04-17 13:00] bestguy commented on #250
We have a prerelease version if you'd like to try and confirm it works for you @PrzemekGalek :
`npm install sveltestrap@3.14.1-0`

[2021-04-17 13:34] PrzemekGalek commented on #250
@bestguy  Yup, that works like a charm, thanks a lot!

[2021-04-17 14:19] bestguy commented on #250
Great!  I'll do an official release of 3.14.1 this weekend

[2021-04-18 17:19] bestguy commented on #250
Hi @PrzemekGalek , this should be corrected in [v3.14.1](https://github.com/bestguy/sveltestrap/releases/tag/v3.14.1).

Thanks for finding the issue.

[2021-04-18 18:28] bestguy commented on #156
Released `sveltestrap@5.0.0-beta.3-1` to pick up some corrections to Tooltips, Popover, & Dropdown released on master.

[2021-04-19 06:27] PrzemekGalek commented on #250
Great! Thanks for quick solution!

[2021-04-19 06:27] #250 closed

[2021-04-20 12:14] #248 closed

[2021-04-22 16:24] uf0 opened #254 "Popover add possibility to append to body"
It could be useful to add `container:'body'` option.
For example when attaching a popover to an element inside an `svg` the popover is added but not rendered because it is inside a `svg` tag

[2021-04-23 23:43] bestguy commented on #254
Will try and publish this weekend: https://github.com/bestguy/sveltestrap/pull/255

[2021-04-24 03:55] bestguy commented on #236
Hi @michapixel, @kkarpeev ,

We've published `sveltestrap@4.0.0-beta.1` if you can please try this and confirm it works for you.  You have to directly install the beta version as it's a prerelease:

[code]

Please see the instructions here on Icon usage.
https://github.com/bestguy/sveltestrap/tree/v4#note-on-icons

If this works okay we can publish v4 officially.

[2021-04-24 03:56] bestguy commented on #254
Hi @uf0 ,

We've published sveltestrap@4.0.0-beta.1 that includes this if you can please try this and confirm it works for you. You have to directly install the beta version as it's a prerelease:

[code]
If this works okay we can publish v4 officially.

[2021-04-26 12:16] uf0 commented on #254
Hi @bestguy,

thank you for such quick reply.

I roughly tested it here with `sveltestrap@4.0.0-beta.3`:
https://codesandbox.io/s/v4-gl0sq?file=/App.svelte

It does work by placing the component within the `svg` tag, but the popover doesn't seem to be aligned on the center of the `<circle>` element

I made a second test with `v5` branch (using a work around to place the popover outside the `svg`)

[2021-04-26 14:24] bestguy commented on #254
Hi @uf0 ,

Thanks for the update.  Yeah that is odd.  Let me see if there's a reason in our code that we can fix, and if not I'll create a new Popover alignment issue and close this one.

[2021-04-26 14:39] bestguy commented on #156
Released `sveltestrap@5.0.0-beta.3-2` to pick up additional corrections released on master and to remove deprecated Uncontrolled* components.

[2021-04-27 02:26] bestguy commented on #254
Will close with release in [v4.0.0](https://github.com/bestguy/sveltestrap/releases/tag/v4.0.0).

Will create new issue for alignment if can't resolve, thanks for the heads up on these uf0.

[2021-04-27 02:26] #254 closed

[2021-04-27 02:28] bestguy commented on #236
Will close with release of [v4.0.0](https://github.com/bestguy/sveltestrap/releases/tag/v4.0.0), which removes hard-coded CDN.
Usage documentation for Icon is here: https://github.com/bestguy/sveltestrap#note-on-icons

[2021-04-27 02:28] #236 closed

[2021-04-27 02:33] bestguy commented on #116
Hi @dym-sh ,
Sorry for delay in reply.
Thanks for the heads up,  this has been corrected: https://sveltestrap.js.org/?path=/story/components--toast

[2021-04-27 02:33] #116 closed

[2021-04-27 02:38] #128 closed

[2021-04-27 02:42] bestguy commented on #137
Sorry for the long delay, this was corrected in [v4.0.0](https://github.com/bestguy/sveltestrap/releases/tag/v4.0.0).
The real looks to work correctly now: https://svelte.dev/repl/103a4efed9a34756af12895bcd9e03f8?version=3.20.1

[2021-04-27 02:42] #137 closed

[2021-04-27 02:46] bestguy commented on #143
Closing, released in v3.4.0

[2021-04-27 02:46] #143 closed

[2021-04-27 02:51] bestguy commented on #80
This looks to be correct in more recent builds, thanks for the heads-up Frederik.  Please reopen if you still see issue.

[2021-04-27 02:51] #80 closed

[2021-04-27 02:56] bestguy commented on #144
Correct in [v3.9.2](https://github.com/bestguy/sveltestrap/releases/tag/v3.9.2) and later versions, thanks for the heads up.

[2021-04-27 02:56] #144 closed

[2021-04-27 02:58] #63 closed

[2021-04-28 19:09] vfilatov opened #263 "Modal over a Modal - no Backdrop on first one"
If you put another Modal inside of ModalBody, the parent doesn't get grey.
It was working fine in `"sveltestrap": "^3.13.0"`

https://svelte.dev/repl/f96a0919e17546e4930c52e5d860a6cc?version=3.37.0

[2021-04-28 19:22] vfilatov commented on #263
Looks it got broken in `4.0.0-beta.1`

[2021-04-28 20:06] vfilatov commented on #263
# workaround
add `container` prop to the second Modal
[code]

[2021-04-28 23:07] bestguy commented on #263
Thanks, yes we thought defaulting to append to body was a better default, but happy to look at what's breaking here.

[2021-04-29 16:20] bestguy commented on #263
So officially Bootstrap does not support multiple modals, looking at the backdrop styles Bootstrap provides they use fixed z-index values that are always under the modals I'm not clear how it should/could work in this use case.

I'm leaning towards your workaround being the "official" way we could support multiple Modals, and closing the issue.  (We can update docs if useful).  Thoughts on this @v

[2021-04-29 16:30] vfilatov commented on #263
I'm fine with close this issue as long as "workaround" works :)
Would nice to add an example to the demo page.

[2021-04-29 16:50] bestguy commented on #263
Cool I'll update docs before closing.  Thanks for the heads up.

[2021-05-01 07:37] tomhal opened #264 "Modal - Can't turn off fading"
First, this is a great project, many thanks for the work put in!

**Bug:**
I noticed that I can't seem to turn off fading of modals.
I've tried fade={false} and also transitionOptions={{ duration:0}} but with no luck.

The code in Modal.svelte looks fine.

Here's a typical use in my code:
[code]

[2021-05-01 07:40] tomhal commented on #264
Sorry, this was a mistake. I used Sveltestrap 3.14 for some reason. Using 4.0.1 it seems to work. That explains why Modal.svelte looked like correct code too. Closing this.

[2021-05-01 07:40] #264 closed

[2021-05-03 06:08] niraj-gawande opened #266 "Custom CSS on Button"
I want to change the on focus css of the sveltestrap Button component.  How should I target the component? There is no prop to add custom css.

[2021-05-04 02:04] bestguy commented on #266
You can pass the style prop, but Svelte also has the `<style>` support.  Can you explain the CSS effect you would like to accomplish?

[2021-05-04 03:45] niraj-gawande commented on #266
I want to change the on focus and and active box-shadow to none.  Not able to target the Button component with class.

[2021-05-04 03:58] bestguy commented on #266
Try something like:

[code]

[2021-05-04 04:01] bestguy commented on #266
If you are trying to do this on just a single button you should be able to use an `#id` selector, etc.   There's no prop we can provide here for this focus use case afaik.

[2021-05-04 04:26] niraj-gawande commented on #266
Both the solutions are working.  Thanks 👍

[2021-05-04 04:26] #266 closed

[2021-05-07 13:48] nstuyvesant commented on #156
Since Bootstrap 5 was released a few days ago, how have things been looking with sveltestrap@5.0.0-beta.3-2?

[2021-05-07 20:15] nstuyvesant opened #272 "Bootstrap 5 (release) plus sveltestrap@5.0.0-beta.3-2 and CarouselIndicators"
Using SvelteKit, noticed the CarouselIndicators no longer appear now that I upgraded to sveltstrap@5.0.0-beta.3-2 and bootstrap@5.0.0.

Here's the code that worked with sveltstrap@4.2.1 and bootstrap@4.6.0:
[code]

Looking at the source, I see the CarouselIndicators are rendered as an ordered list with `<li>` tags with a `style="active"` that moves from item to item as the slides change. But it sh

[2021-05-07 21:07] bestguy commented on #156
Great, I'll look over it any changes and publish v5 official this weekend.  I will also ensure v4 docs are available as many apps will take time to upgrade Bootstrap

[2021-05-07 22:34] bestguy commented on #272
Thanks for the heads-up, I can duplicate issue locally in docs, will take a look.

[2021-05-07 22:38] bestguy commented on #272
The issue is Bootstrap's CSS selector now assumes `data-bs-target`: https://github.com/twbs/bootstrap/blob/main/scss/_carousel.scss#L173

A little weird as we don't need/use the `data-bs-*` stuff in Svelte, but looks like I can add easily.   Will fix with the v5.0.0 final this weekend.

[2021-05-08 16:08] nstuyvesant opened #273 "Bootstrap 5 recommendation for Navbar"
In the Bootstrap 5.0 docs, they recommend always putting a `<div class="container">` inside of Bootstrap's Navbar.

As this could be a regular or fluid container, a few options I can see...

1. Add the `<div class="container">` / `<div class="container-fluid">` to the example in sveltstrap's 5.0 docs recommending that users add it, or...
2. Add a property to the Sveltestrap **Navbar** component li

[2021-05-08 18:06] bestguy commented on #273
Thanks, this sounds like a good idea.  We can address before v5.0.0 (hopefully soon)

[2021-05-09 20:47] bestguy commented on #129
FYI for folks here, I'm attempting to update the types for v5.0.0 to the latest approach recommended:

https://github.com/bestguy/sveltestrap/pull/274/files#diff-afdae5db9835c2d2a3d5aee9bd7338d8f960fd39e4d720a26f94e199ad0aa3fb

Feel free to comment or review if you see anything off.

[2021-05-10 15:09] koo5 opened #275 "how to access the HTMLElement of Button?"
i'm trying:
```<Button use:xxx on:click={more}>more...</Button>```
and `xxx()` is called with what seems to be an empty object.
i'm trying:
```<Button bind:this={my_button} on:click={more}>more...</Button>```
and whatever `my_button` is set to, calling blur() on it (a HTMLElement method) has no effect.
To the contrary, with:
```<button bind:this={my_button} on:click={more}>more...</button>```
i ca

[2021-05-10 15:21] bestguy commented on #273
Thanks for the heads up,
Went with a new `container` prop that accepts boolean true (container), false (no container) or 'fluid' (container-fluid, default)
will release with 5.0.0 or 5.0.0-rc.1 soon.

[2021-05-10 15:25] bestguy commented on #275
Svelte does not support `use:xxx` on custom elements, only built-in DOM elements.
With that said, your need is to `bind:this` to the button element and manually call blur, correct?

[2021-05-11 17:28] koo5 commented on #275
right!

[2021-05-11 19:55] bestguy commented on #275
Hi @koo5 , so this looks like we could support this with some changes:
https://svelte.dev/repl/a0503c2a3c6e47afbba89ffccbf76f3a?version=3.38.2

To do it consistently might take a bit of work, but in meantime you could temporarily workaround like so:

[code]
Using `btn` classes directly: https://getbootstrap.com/docs/5.0/components/buttons/

[2021-05-11 23:02] vfilatov opened #278 "Scrollbar and Modal after Modal causes "padding-right: 12px;" on <body>"
If page content is long enough to have a scrollbar on the right side,
opening a Modal causes adding "padding-right: 12px;" on <body>.
If you open another Modal right after closing first one, it captures previously added padding and
restores it after we close it.

As a result we have added padding that we did not plan.

https://svelte.dev/repl/4d84c0c9ebde420ebce78e617fbda38d?version=3.38.2

[2021-05-11 23:08] vfilatov commented on #278
as a workaround you can add "onEnter"
<Modal ...  onEnter={() => document.body.style.paddingRight = null}>

[2021-05-12 02:17] bestguy commented on #278
Hmm that's weird, thanks for heads up.  Will take a look and with v5 beta

[2021-05-13 14:55] bestguy commented on #278
So this is related to using/supporting multiple modals open at same time.  While Bootstrap does not officially support this, this code seems fragile/ugly:  https://github.com/bestguy/sveltestrap/blob/master/src/Modal.svelte#L121

I'll leave this open and see if this can be made more robust, especially with v5 coming out.

[2021-05-13 15:14] vfilatov commented on #278
Yes, I see where is it coming from.
Not sure, but might be using push/pop current padding values to/from $store would help restoring "correct" padding?

PS. Not sure how they do that, but works great
https://getbootstrap.com/docs/5.0/components/modal/#toggle-between-modals

[2021-05-13 15:45] nstuyvesant opened #281 "DropdownMenu and Bootstrap 5.0.0 release and sveltstrap@5.0.0-beta.3-2"
When using the DropdownMenu component in sveltstrap@5.0.0-beta.3-2 with Bootstrap 5.0.0 (the release), the menu is appearing on top of the DropdownToggle. Looking at it more closely, it appears the **.dropdown-menu** class is missing:
[code]

If I manually add this property, the menus look close to normal (probably need a little margin on the top).

[2021-05-13 16:21] bestguy commented on #278
Oh nice, thanks for the tip.  That looks like a great solution/behavior

[2021-05-13 16:41] nstuyvesant commented on #281
Great to hear. Would be interested in checking out your next beta once you put it out there. BTW, are you planning to add offcanvas support in 5.0?

[2021-05-13 18:05] bestguy commented on #281
Yes, we are currently feature complete with Bootstrap v5: https://github.com/bestguy/sveltestrap/pull/209
I think next release will be 5.0.0 final.

I just need to support docs for both v4 and v5 as not everyone is able to switch their apps to Bootstrap 5 immediately.

[2021-05-14 03:08] bestguy commented on #156
Sveltestrap 5 has been released! 🎉
https://github.com/bestguy/sveltestrap/releases/tag/v5.0.0

Please try v5.0.0 out and start a new issue if you experience any problems.
`npm install sveltestrap@5`

Thank you all for the use and help!

[2021-05-14 03:08] #156 closed

[2021-05-14 03:09] bestguy commented on #281
Hi @nstuyvesant , v5 has been released, and should resolve this issue.  https://github.com/bestguy/sveltestrap/releases/tag/v5.0.0
Please try out and close this issue if so.

[2021-05-14 03:10] bestguy commented on #273
Released with https://github.com/bestguy/sveltestrap/releases/tag/v5.0.0
I'll close this issue but please let me know if you see any problems with the solution.

[2021-05-14 03:10] #273 closed

[2021-05-14 03:11] bestguy commented on #272
Hi @nstuyvesant this should be resolved with https://github.com/bestguy/sveltestrap/releases/tag/v5.0.0

https://sveltestrap.js.org/?path=/story/components--carousel

Please let me know if you still see issues.

[2021-05-14 03:11] #272 closed

[2021-05-14 15:02] nstuyvesant commented on #272
Confirmed resolved - thanks!

[2021-05-14 15:05] nstuyvesant commented on #273
Confirmed - looking good with Bootstrap 5.0.1

[2021-05-14 15:05] nstuyvesant commented on #281
Confirmed - working well with Bootstrap 5.0.1 - thanks!

[2021-05-14 15:43] bestguy commented on #281
Thanks for finding all these issues, really helpful.

[2021-05-14 15:43] #281 closed

[2021-05-14 15:46] bestguy commented on #212
Hi @kenhorn ,

Just FYI that TabContent and TabPane were reworked in Sveltestrap v5 to make the usage a lot easier.
Would be helpful if you'd like to take a look and comment: https://sveltestrap.js.org/?path=/story/components--tabs

[2021-05-15 09:31] kefahi commented on #156
@bestguy Awesome news! thank you.

Here is a simple bi-lingual CMS website (Arabic/English) I built on Svelte/Bootstrap5/Sveltestrap. It is still under active development.
RTL is working really nice; the language switching widget is at the bottom (footer).

https://demo.imx.sh/

[2021-05-15 15:47] bestguy commented on #156
Lovely!  Nice work friend, glad you are able to put this to good use.

[2021-05-18 04:02] bestguy opened #285 "Carousel slide and fade not working (5.0.1)"
Carousel slide and fade animations are not working in v5

[2021-05-20 09:01] grantyap opened #286 "`ReferenceError: document is not defined` in `Portal.svelte` in Sapper application"
Using the Offcanvas component throws `ReferenceError: document is not defined` in my Sapper application.

Here is the log:

[code]

This seems to be the offending code block in `Portal.svelte`:

[code]

I wrapped the statement in a check to see if the code was running on the client side:

[code]

And it worked perfectly. The page renders without issue.

I faced a similar issue with the Dropdown co

[2021-05-20 11:48] bestguy commented on #286
Great thank you for the find.  (I wish there was a simple way to unit test/ci the SSR issues to catch this in development, vs trying out separately in Sapper)

[2021-05-20 16:17] bestguy commented on #286
Actually am still seeing issues, will reopen and look closer

[2021-05-21 01:48] bestguy commented on #286
Should be fixed by #288 and released in sveltestrap@5.0.4

Thanks @grantyap for the issue and help with fix

[2021-05-21 01:48] #286 closed

[2021-05-23 01:40] aktxyz opened #290 "prefix for boostrap class names?"
I am thinking about using this for a widget thing where widgets can be added to another site with a single <script> tag.

Is there a way to add a prefix to all the bootstrap css classes ? to avoid any collisions with a bootstrap css that may already be included in the page?

[2021-05-23 01:54] bestguy commented on #290
Hi, not currently.  You could possibly wrap your widget with an outer class like .your-widget and do some css tricks, or it probably recommend exporting a web component from Svelte compiler.  Your component would need to import it's own Bootstrap css theme though FYI.

[2021-05-23 05:56] john01dav opened #291 "Modal fade in is different from in vanilla bootstrap"
In vanilla bootstrap, when a model is opened, as it fades in it slides in from the top of the page. See the live demo on [this](https://getbootstrap.com/docs/4.0/components/modal/) page for an example. But, with Sveltestrap, even with the fade class enabled, the modal simple fades in and does not slide in from the top. In my opinion the fade in looks nicer, so I'd like to report this difference as

[2021-05-23 13:01] bestguy commented on #291
Hi, yes you are correct.  Sveltestrap uses built in svelte fade transition, as we are dependent on the intro/outro callbacks to trigger logic.  Bootstrap uses only CSS transitions, and I'm not totally clear on how we can leverage intro/outro with.  But I agree that would be better as some apps/themes to customize the Bootstrap transitions.  I'll take a look now that v5 is out and stable.

[2021-05-23 13:02] bestguy commented on #291
Let's keep this issue open as a bug for tracking.

[2021-05-23 20:37] john01dav opened #292 "Tooltips on buttons don't show up when button is focused, but do in Vanilla bootstrap"
If I tab through buttons in vanilla bootstrap ([example](https://getbootstrap.com/docs/4.1/components/tooltips/)), the tooltip for the button appears. But, when I do so with Sveltestrap, no tooltip appears ([example](https://sveltestrap.js.org/?path=/story/components--tooltip)). It's also probably worth checking if the screen reader behavior is the same — in some cases, tooltips may provide essent

[2021-05-24 16:03] bestguy commented on #292
Focus/blur and accessibility should be fixed up by #293 if you'd like to look/review @john01dav

Thanks for the heads-up on these.

[2021-05-24 18:46] #292 closed

[2021-05-24 19:29] bestguy commented on #292
This should be corrected in [5.0.6](https://github.com/bestguy/sveltestrap/releases/tag/v5.0.6)

Please reopen if you see issues.

[2021-05-25 06:14] john01dav commented on #292
Thank you very much for such a quick fix! Everything seems to work exactly as it should in 5.0.6

[2021-05-29 20:34] RoryNickolls opened #295 "Auto-sizing text areas"
I'm using this component library in a project and want to have a text area that resizes its height automatically as you type. Normally I'd use a function that runs on input / change / window resize and modifies the textarea's height directly.

There doesn't appear to be a way in the Input component to enable this behaviour, nor implement it myself (as the root <textarea> element is not exposed).

[2021-05-29 21:11] bestguy commented on #295
Thanks for the idea.  What would need modification to support this?  Would allowing a way to access/bind the inner element suffice?

[2021-05-30 10:22] darkcris1 opened #297 "Is there a way to make dropdown clickable inside ?"

[2021-05-30 10:32] RoryNickolls commented on #295
@bestguy I've opened a PR demonstrating a way to achieve this, using your suggestion.

[2021-05-30 18:52] nstuyvesant opened #299 "Toast doesn't auto-close after reaching duration"
Trying to get a **Toast** to fade after 3000 milliseconds. I tried **duration** = 3000 and **duration** = 3 as there's no mention of whether the value is in milliseconds or seconds (Bootstrap uses the [former](https://getbootstrap.com/docs/5.0/components/toasts/#options)). I also tried this attribute `data-bs-delay="3000"` but it didn't work either.

The defaults appear to be set [here](https://gi

[2021-05-30 20:12] bestguy commented on #299
Hi @nstuyvesant

Ah thanks for the catch.  So we haven't added support for autohide yet.  The 'duration' here is just the fade out transition duration, and not related to autohide.   (Just FYI that the `data-bs-*` attributes do not work with any Sveltestrap components.)

Looks like a useful thing we are missing and easy to add.  I'll look this weekend for the next release, hopefully very soon.

[2021-05-30 21:29] #295 closed

[2021-05-31 02:04] bestguy commented on #299
https://github.com/bestguy/sveltestrap/pull/300 if you'd like to review

[2021-05-31 13:35] nstuyvesant commented on #299
Thanks @bestguy - will be happy to help test the autohide feature once you get that in place.

[2021-05-31 17:25] bestguy commented on #299
Cool thanks, will do a release by tomorrow at latest

[2021-05-31 19:32] bestguy commented on #299
Hi @nstuyvesant , this was released in
https://github.com/bestguy/sveltestrap/releases/tag/v5.1.0

Usage story was added to:
https://sveltestrap.js.org/?path=/story/components--toast

Please try out and close this issue if works out for you

[2021-05-31 19:33] bestguy commented on #295
Hi @RoryNickolls, this was released in
https://github.com/bestguy/sveltestrap/releases/tag/v5.1.0

Thanks for the issue and PR!  Please comment or reopen if you see issues.

[2021-05-31 23:04] nstuyvesant commented on #299
Hi @bestguy - ,

This is working well!
[code]
Minor issue In your release notes, you referred to that attribute as **autoHide** vs. **autohide**.

Thanks for implementing this - looking great!

[2021-05-31 23:04] #299 closed

[2021-06-01 01:56] bestguy commented on #299
Great, thanks again

[2021-06-01 03:22] bestguy commented on #297
Hi @darkcris1

Hmm, this seems to be a missing feature, we should add a `autoclose` prop to support these options.
Thanks for the heads up on this, I can take a look this week, or PR is welcome.

[2021-06-01 05:44] christo commented on #275
For what it's worth I'm interested in this because I want to call focus and blur on <Input> components to enable inline editable components composed of a <span> when in uneditable mode and a sveltestrap <Input> when in edit mode. When the span is clicked the component hides the span and shows the Input but I want to then focus that input so I need a reference to that element even though it's not t

[2021-06-01 15:00] bestguy commented on #275
Hi @christo ,
We just added a solution for Input (#298) which was released in [v5.1.0](https://github.com/bestguy/sveltestrap/releases/tag/v5.1.0), but I think the same approach will work for Button and will look to add this week.

[2021-06-02 10:57] typhoon51280 opened #301 "export Accordion classes (typescript)"
VisualStudioCode can't resolve Accordion and AccordionItem even if it compiles correctly

``
	import { Accordion, AccordionItem, AccordionHeader } from 'sveltestrap';
``

In the file index.d.ts the export of the above classes are missing.

[2021-06-02 13:54] bestguy commented on #301
Oops thanks for the catch, should be fixed by #302
Will do new release soon

[2021-06-02 21:27] bestguy commented on #275
Added in #303, should release soon

[2021-06-03 03:06] bestguy commented on #301
Hi this is released in [v5.1.1](https://github.com/bestguy/sveltestrap/releases/tag/v5.1.1) thanks for the issue.

[2021-06-03 03:06] #301 closed

[2021-06-03 03:06] bestguy commented on #275
Hi, this is released in [v5.1.1](https://github.com/bestguy/sveltestrap/releases/tag/v5.1.1)
Please reopen or comment if you see any issues.

[2021-06-03 03:06] #275 closed

[2021-06-05 09:04] pino1068 opened #304 "Accordions in index.d.ts are not available."
Index.d.ts doesn't contain Accordion and related imports.
VS Code complains in typescript.

Is this maybe done on purpose?

PS: thank you a lot for your work!

[2021-06-05 12:48] bestguy commented on #304
Hi @pino1068 ,
This should already be fixed in [v5.1.1](https://github.com/bestguy/sveltestrap/releases/tag/v5.1.1).  Please upgrade if you haven't already, or let me know if you are still seeing issues.

[2021-06-06 04:33] #304 closed

[2021-06-07 09:46] obendi commented on #285
Any updates on this? Any way I could help?

Thanks.

[2021-06-07 14:12] #290 closed

[2021-06-07 14:14] bestguy commented on #291
I have a PR (#296) which should fix this, but attempting to update all other transitions as well.
I'll hopefully have these updated within a few weeks.

[2021-06-07 14:22] bestguy commented on #285
Hi @obendi, haven't found a solution yet, but thanks if you are up for helping.   The two options are:

1. Use built-in svelte transitions (which is what we've been using up to now)
2. Use the correct sequence of Bootstrap classnames to trigger the animations.

Problem with 1 is that the animations don't match Bootstrap's, and causes issues like #291

So instead I've been working on approach 2 (ht

[2021-06-07 20:30] lovasoa opened #306 "incorrect exported types"
The following code :

[code]

raises the following error:

[code]

[2021-06-07 20:31] lovasoa commented on #306
The same with Tooltip :

[code]

[2021-06-07 21:01] lovasoa opened #307 "warning when building an application"
when building an application that uses sveltestrap using svelte kit, one gets the following warning :

[code]

[2021-06-07 21:03] bpiwowar opened #308 "Modal nodes created outside of Svelte root"
In the actual version (5.1.1 and HEAD), modals HTML nodes are created outside of the root element for svelte. In my case, this is a problem since bootstrap CSS is prefixed (using postcss prefixer) to avoid CSS clashes in the interface.

Would it be possible to revert to the previous behavior?

[2021-06-08 01:12] bestguy commented on #308
Hi @bpiwowar,
You can set the previous behavior with:

[code]

Let me know if this doesn't fix your issue.

[2021-06-08 01:14] bestguy commented on #307
Hi @lovasoa ,
I'm not seeing an unused `slide` reference.  There is just one usage in Collapse:
https://github.com/bestguy/sveltestrap/search?q=slide

Can you confirm what version of Sveltestrap you are using?

[2021-06-08 01:16] bestguy commented on #306
Hi @lovasoa ,
Can you confirm which Sveltestrap version you are using?  We improved this quite a bit with v5, and haven't back ported to v4 yet.

[2021-06-08 05:49] bpiwowar commented on #308
Sorry I should have checked the documentation.

Yes this works, thanks!

[2021-06-08 08:13] lovasoa commented on #306
Okay, I just updated sveltestrap, but I do still have the error :

[code]

<img width="1016" alt="image" src="https://user-images.githubusercontent.com/552629/121148574-2fc88800-c842-11eb-9a9d-7c449410cd7f.png">

[2021-06-08 10:38] bestguy commented on #307
Thanks, weird, will try a sample out again with Sveltekit

[2021-06-08 10:49] lovasoa commented on #307
Thanks ! The warning occurs only during production builds

[2021-06-08 14:07] bestguy commented on #306
The error you show mentions 'IToastHeader' code removed in older releases: https://github.com/bestguy/sveltestrap/commit/a18695bd3d89c15a98d2df5219594570abde955c#diff-619cc2239a7eb4ef05041767e6ab0e4fb069e98ee9d2c83c2d8e1865c475e141

I don't think this is a lib issue. Try restarting VS Code and then `npm ci` to clear any cached files.  Please close if that clears.

[2021-06-08 14:26] bestguy commented on #307
I am seeing same, but I think it's this Sveltekit issue:
https://github.com/sveltejs/kit/issues/1299

We do import and use it here: https://github.com/bestguy/sveltestrap/blob/master/src/Collapse.svelte#L63
so seems invalid warning.

[2021-06-08 14:26] #308 closed

[2021-06-08 14:29] lovasoa commented on #306
Indeed, this fixed the issue. Thank you and sorry for the inconvenience !

[2021-06-08 14:29] #306 closed

[2021-06-08 20:58] #238 closed

[2021-06-08 20:59] #211 closed

[2021-06-09 20:09] mohe2015 opened #309 "Update and clean up dependencies"
There are many dependencies with vulnerabilities and also many outdated ones. I think it may be benefical to update them at some point. It should probably be done step by step as I failed to update all at once (which was expected). This is not super important though as most vulerabilities are probably in build-time dependencies.

[2021-06-09 21:35] mohe2015 commented on #309
I think I will work on this a bit.

[2021-06-14 15:26] bestguy commented on #210
Closing, please comment or reopen if not working as expected

[2021-06-14 15:26] #210 closed

[2021-06-14 15:41] bestguy commented on #309
https://github.com/bestguy/sveltestrap/releases/tag/v5.1.2

Thanks for the PR, I'll look at updating to webpack 5 and some others with next release of storybook

[2021-06-14 15:41] #309 closed

[2021-06-14 18:46] rouvic opened #312 "Override default bootstrap CSS properties"
Hi everyone,
thanks for making such a useful project. I'm wondering if it could be possible to allow overriding of the default bootstrap CSS properties. For instance, I would like to make a wider offcanvas inside a specific svelte component. Something like:
[code]

This code does work as is, because the CSS selector gets renamed by the svelte compiler to `svelte-xxxx` and thus does not override th

[2021-06-14 19:13] bestguy commented on #312
Hi, svelte lets you do global styles such as:

[code]

Otherwise it scopes as you mentioned

[2021-06-15 06:24] rouvic commented on #312
Thanks for your answer, I didn't know about this. However, the rule declared with `:global` affects every components, so all the offcanvas in my app are now wider; whilst I would like only the offcanvas inside a specific svelte component to be changed. Any way to do this?

[2021-06-16 06:49] #312 closed

[2021-06-17 09:03] henaff opened #314 "Add input datetime-local with real binding"
As we can see in sources files datetime is handled correctly with value binding
https://github.com/bestguy/sveltestrap/blob/master/src/Input.svelte

[code]

But this one as no gui for selecting date and time, instead of datetime-local.
datetime-local isn't handled and passed to 'else' block

[code]
All is ok, there is just value binding that is missing

[2021-06-17 15:53] #314 closed

[2021-06-17 15:56] bestguy commented on #314
Thanks @henaff for the heads up, Svelte has issues with binding type attribute of input, so that code is really complex and error prone...  I've added datetime-local as well as tel, month, week with some other fixes.  Will release today.

[2021-06-17 16:02] bestguy commented on #314
Released in https://github.com/bestguy/sveltestrap/releases/tag/v5.2.1

[2021-06-22 20:24] vfilatov opened #316 "Radius present on Dropdown menu within InputGroup"
Dropdown element does have border radius when included within InputGroup

https://svelte.dev/repl/4216cf8c4e564d3e9849bc0665c2a8e5?version=3.38.3

Thanks for your contributions!

[2021-06-23 00:36] vfilatov opened #317 "on Modal open, scrollbar remains active"
I thought modal should hide scrollbar and compensate the width adding "padding-right" to the body element.
It looks to be bug as `5.2.1` does not hide scrollbar but "compensates" the width.

https://svelte.dev/repl/7797d44a3ca74d23aec6a1de5af0c801?version=3.38.3

PS. `<Navbar>` would look better if it extended all the way to the right...

[2021-06-23 00:46] vfilatov commented on #317
that behavior might be valid if `scrollable` prop is `false` and `ModalBody` is long enough

[2021-06-23 10:14] henaff commented on #314
Thanks you !

[2021-06-25 14:08] bestguy commented on #316
Hi @vfilatov , sorry not understanding the exact issue here.  Do you mean it's not possible to do something like this without corner radius?: https://getbootstrap.com/docs/5.0/forms/input-group/#segmented-buttons

[2021-06-25 14:38] bestguy commented on #316
If so, I've duplicated here:
https://svelte.dev/repl/639bd85c2a3a485682c9bdba37a896b8?version=3.38.3

Looks like cannot have any wrapper around InputGroup buttons, but that's how Dropdowns currently work... so let me see what Bootstrap does here

[2021-06-25 15:37] vfilatov commented on #316
Yes, you are correct.
I would not expect buttons with radius inside of inputGroup

I updated PERL with pure Bootstrap example
https://svelte.dev/repl/4216cf8c4e564d3e9849bc0665c2a8e5?version=3.38.3

[2021-06-25 15:55] bestguy commented on #316
Thanks, am taking a look at best option/fix

[2021-06-25 16:38] vbalko opened #318 "Accordion don`t react on active attribute"
Hi,

I`m using sveltestrap in one of my projects and I use Accordion component there. I want to open/close accordion items on events (represented by button on click here), but I cannot make it work. Seems to me, that accordion doesnt care about active attribute.

I prepared example in repl
[https://svelte.dev/repl/814938bc1b224688a0d86400e9038878?version=3.38.3](https://svelte.dev/repl/814938bc1b2

[2021-06-25 22:53] bestguy commented on #318
Hi @vbalko ,

Yes that's annoying, I'll look at correcting, thanks for the heads up.

FYI you can control with the current release if you add the `stayOpen` prop to the acoordion:  https://svelte.dev/repl/4168c3be91f44461b98f3af9d3305fcf?version=3.38.3

However this allows more than one accordion item to be open at once which may not be what you want.

[2021-06-26 02:57] bestguy opened #319 "Simplify Tabs, Carousel, Accordion state"
All three components do similar things (show one at a time out of many), but each have different approaches to controlling this:

Carousel uses `activeIndex`
Accordion uses `active` on AccordionItem
TabContent requires `tabId` on TabPane

Accordion & TabContent also don't let you control externally..

[2021-06-26 06:44] vbalko commented on #318
Great - I appreciate your quick response and also proposal for workaround.

Good job

[2021-06-26 15:07] bestguy opened #320 "Access to Offcanvas and Accordion body class, etc"
Offcanvas and Accordion don't allow control or adding of classes to OffcanvasBody and AccordionBody

[2021-06-27 07:49] dngferreira opened #321 "Add support for sveltekit:prefetch on Navigation link"
Hi,
I'm using sveltestrap with svelte kit and wanted to add support for prefetch on navigation links.

Is support for svelte kit in the roadmap of this project?

If this is something other people find useful I can make a PR.

[2021-06-28 03:20] bestguy commented on #321
Hi @dngferreira ,

Thanks, yes we've been trying to keep up with the latest in Sveltekit.
Support sounds good, though what would need updating?

PR sounds great assuming we don't have to directly import Sveltekit code into the lib.

[2021-06-28 09:32] ieow opened #322 "ListGroupItem on:click not responding"
on:click in ListGroupitem is not responding.

here is example in repl
https://svelte.dev/repl/b9dc70579b52428fb866ae77dc846f61?version=3

Am I using it right ?

[2021-06-28 23:05] bestguy commented on #322
Hi @ieow ,

Yes this looks like an oversight, we only pass on:click when `tag="button"`, but you shouldn't have to do that.
I can look at fix but temp workaround is by adding `<ListGroupItem tag="button" ...>`:

https://svelte.dev/repl/bcc040a319bf44608172bcddc38b6f59?version=3.38.3

[2021-06-29 02:22] bestguy commented on #322
Hi @ieow , this should be fixed in [sveltestrap@5.3.0](https://github.com/bestguy/sveltestrap/releases/tag/v5.3.0) :
https://svelte.dev/repl/359466e990224b53afdf84ce013ebd29?version=3.38.3

[2021-06-29 02:22] #322 closed

[2021-06-29 12:53] ieow commented on #322
That was fast.
Thanks for the quick fix !

[2021-06-29 14:32] msummers68 opened #324 "Static backdrop"
Is there a way to do this with SvelteStrap? https://getbootstrap.com/docs/5.0/components/modal/#static-backdrop -- so that the modal does not close when you press escape or hit a key

Thanks

[2021-06-29 21:09] bestguy commented on #324
Not currently but looks like would be simple addition, can look this week!

[2021-06-30 12:36] msummers68 commented on #324
Thanks so much!

[2021-06-30 15:22] #324 closed

[2021-06-30 15:27] bestguy commented on #324
Hi @msummers68 , this was released in [v5.3.1](https://github.com/bestguy/sveltestrap/releases/tag/v5.3.1).

(FYI the "bump" warning animation is missing but will be addressed in #296)

[2021-06-30 22:07] vfilatov commented on #317
comment out `//conditionallyUpdateScrollbar()` in [src/Modal.svelt](https://github.com/bestguy/sveltestrap/blob/master/src/Modal.svelte#L111) solves my problem

[2021-07-01 03:22] bestguy commented on #317
Oh thanks, sorry I've been unable to get to cleaning Modal logic up yet

[2021-07-03 21:55] bestguy commented on #14
Decided to close this as we'll likely stick to external CSS for this library.

[2021-07-03 21:55] #14 closed

[2021-07-03 21:59] bestguy commented on #78
Fixed in v5

[2021-07-03 21:59] #78 closed

[2021-07-03 22:03] bestguy commented on #106
Seems to work fine in v5

[2021-07-03 22:03] #106 closed

[2021-07-03 22:05] bestguy commented on #121
Closing as unrelated to Sveltestrap code, please comment if there is an idea on how the lib can help with this.

[2021-07-03 22:05] #121 closed

[2021-07-03 22:12] bestguy commented on #130
Hi @vfilatov ,

Sorry going through old issues and missed this.  This appears to be fine in v5:
https://svelte.dev/repl/d3c747a63ee14ccdadbef863e1e602a0?version=3.38.3

Will close, but please let me know if still an issue.

[2021-07-03 22:12] #130 closed

[2021-07-03 22:14] bestguy commented on #131
Looks to be working correctly in v5: https://svelte.dev/repl/5bcf210db26e42fda6faa0b31beab47a?version=3.38.3

Please comment if still seeing issues.

[2021-07-03 22:14] #131 closed

[2021-07-06 13:40] marzeq opened #328 "Value from bind:value in <Input type="number"/"range"> is "string" and not "number""
In this example code using vanilla Svelte and TypeScript:
[code]

the following error gets thrown by the TypeScript compiler: "Type 'number' is not assignable to type 'string'.", whereas if I would use the vanilla \<input\> element everything would be fine and the compiler would understand that the value is actually a number.

Environment information:
Sveltestrap 5.4.0
TypeScript 4.3.5
Svelte 3.38

[2021-07-06 15:13] bestguy commented on #328
Thanks, I'm assuming the d.ts here is wrong: https://github.com/bestguy/sveltestrap/blob/master/src/Input.d.ts

Though also assuming string | number is not sufficient.  Open to suggestions and will take a look this week

[2021-07-06 15:23] marzeq commented on #328
Thanks!

[2021-07-10 03:52] bestguy commented on #328
Hi @marzeq ,

This should be corrected by #329 , and I've published a prerelease version `sveltestrap@5.4.1-0` if you could try and confirm it corrects your issue.  It looks okay to me locally.

[2021-07-11 04:24] bestguy commented on #291
Hi @john01dav , this should be corrected in #333
I'll plan to do a release in next few days and you can confirm this works as expected.

[2021-07-12 02:35] shaozi opened #335 "Dark mode and light mode"
Is there a way to switch between dark mode and light mode?

[2021-07-12 04:40] bestguy commented on #335
Hi @shaozi , the Bootstrap styles are separate from this library, so you could include a dark theme.
Here is some info: https://github.com/vinorodrigues/bootstrap-dark-5

Nothing in Sveltestrap would need to change/configure to support this

[2021-07-14 08:26] Conceptiks opened #336 "Best-Practice for default component styling"
I have recently started using svelte and as a long-time bootstrap user, I love using sveltestrap. However, I was wondering if there is a best practice for styling default sveltestrap components. Let's take a bit a sample code (from the documentation) as an example:

Supposed I have a card like this:
`<Card>
  <CardBody>Hello World</CardBody>
</Card>`

Is it possible to access this `<Card></Card>`

[2021-07-14 14:23] bestguy commented on #336
Hi @Conceptiks , it depends on what you would like to accomplish.
If you need to do a quick override for a component or two, you can do this:

[code]
The `:global(...)` is required by svelte otherwise it's scoped with some generated class name. You can read more here:
https://svelte.dev/docs#style

But if you want to change your entire app's theme to match company branding, etc this is not the way

[2021-07-15 03:29] bestguy commented on #335
Closing as unrelated to sveltestrap directly

[2021-07-15 03:29] #335 closed

[2021-07-15 19:13] shaozi opened #337 "Toast notification"
Not sure if this should be a feature request or is out of scope.
Can sveltestrap have notification capability with its Toast component?

[2021-07-15 19:43] bestguy commented on #337
Hi @shaozi, what do you mean exactly by this functionality?

[2021-07-15 21:08] shaozi commented on #337
I mean the something like this: https://github.com/keenethics/svelte-notifications or this: https://github.com/beyonk-adventures/svelte-notifications

[2021-07-16 13:06] osiris86 opened #338 "Not able to set custom css class on Components"
Hi there,

I'm wondering how to style a single sveltestrap component. I found other issues with similar problems that styled the components using `:global`. This obviously styles all the components. But only applying a style to a single component seems so obvious to me, that I'm currently refusing to believe that this isn't possible.

Here's a reproducable example:

* Create a new Svelte project `

[2021-07-16 13:38] bestguy commented on #338
Hi, this is unfortunately a svelte limitation.  I don't have an issue # handy, but the scoped styles only apply to Dom elements.  To do what you want here you'd have to add:

[code]

Or move that css to your separate stylesheet.

[2021-07-16 13:47] bestguy commented on #338
Here's an rfc issue that links to many other issues and discussion of this: https://github.com/sveltejs/rfcs/pull/22

[2021-07-16 14:00] osiris86 commented on #338
Wow, very quick reply. Thank you! That makes sense to me. Obviously, I'm fairly new to svelte and wasn't aware of these limitations. This just seemed like such a common problem to me (and it kinda is, as the discussion in the linked PR suggests :) ).

Closing this, since this isn't an issue with sveltestrap. Thanks for your help!

[2021-07-16 14:00] #338 closed

[2021-07-16 14:03] bestguy commented on #338
Yes it's a bit annoying, but I understand the reasoning.

[2021-07-16 16:11] farhat-h opened #339 "Prevent body from scrolling when a modal is open"
Hello,

I'm not sure if this counts as an issue but, is there a way to prevent body from scrolling without having to listen for open and close events and [attach a class to the body](https://stackoverflow.com/questions/9538868/prevent-body-from-scrolling-when-a-modal-is-opened) ?

[2021-07-17 03:21] bestguy commented on #339
Hi @farhat-h ,
Thanks, this looks broken in v5 - this worked/works correctly in v4 so this is a regression.
Will take a look.

[2021-07-17 03:51] bestguy commented on #339
Should be fixed by #340 , will do a release this weekend.  Thanks for the heads up on this

[2021-07-17 04:06] bestguy commented on #339
Released in [sveltestrap@5.5.0](https://github.com/bestguy/sveltestrap/releases/tag/v5.5.0)

[2021-07-17 04:07] bestguy commented on #328
Released in [sveltestrap@5.5.0](https://github.com/bestguy/sveltestrap/releases/tag/v5.5.0)

[2021-07-17 04:07] #328 closed

[2021-07-17 04:08] bestguy commented on #291
Released in [sveltestrap@5.5.0](https://github.com/bestguy/sveltestrap/releases/tag/v5.5.0)
Demo here: https://sveltestrap.js.org/?path=/story/components--modals
Please try out and let me know if you see any issues.

[2021-07-17 04:08] #291 closed

[2021-07-17 04:09] bestguy commented on #337
Hi @shaozi ,  yeah that sounds useful, happy to take a look or PR is welcome.

[2021-07-17 08:34] farhat-h commented on #339
Amazing work man
Thank you very much

[2021-07-17 14:25] #339 closed

[2021-07-18 17:38] gforcedev opened #341 "NavbarText component"
I would like to put some text in my navbar. Currently then there doesn't seem to be a mirror for bootstrap's [.navbar-text](https://getbootstrap.com/docs/5.0/components/navbar/#text-1), which means I have to use disabled `NavLink`s.

Apologies if this doesn't exist, I couldn't find it in the docs and I'd be happy to be pointed in the right direction.

[2021-07-19 00:23] bestguy commented on #341
Hi @gforcedev ,

Thanks, we missed that. I'll look at adding.
Though FYI you can also add the span directly to the Navbar:

[code]

https://svelte.dev/repl/4fff0357abd6477686618f80a7f4f54c?version=3.38.3

[2021-07-19 15:06] vfilatov commented on #317
Looks to fixed in 5.5.0

[2021-07-19 15:55] bestguy commented on #317
Oh great, thank you for letting me know @vfilatov, I assumed the fix for other issue was unrelated.

[2021-07-19 21:23] bestguy commented on #317
Will close if resolved, thanks

[2021-07-19 21:23] #317 closed

[2021-07-19 21:23] bestguy commented on #336
Closing, please comment if not resolved for you.

[2021-07-19 21:23] #336 closed

[2021-07-20 20:29] gforcedev commented on #341
Ahh fantastic thanks so much! Didn't realise I could just add the spans with their bootstrap classes directly into the html but of course that does make sense since I included the css file.

[2021-07-22 10:42] datasushi opened #342 "on:input lag"
Thanks for making sveltestrap, I love it.

I noticed that on:input lags by one input.

See the following REPL for a side by side comparison to a regular input: https://svelte.dev/repl/4b1e4e711662484383d579010993abee?version=3.40.0

[2021-07-22 15:42] bestguy commented on #342
Hi @datasushi , thanks for the heads up - hmm that's weird - this code looks correct: https://github.com/bestguy/sveltestrap/blob/master/src/Input.svelte#L122

But let me see what's up.

[2021-07-22 15:52] bestguy commented on #342
Ah this is interesting, the order of bind:value and on:input matters here - this behaves as you expect:

[code]

the current order does not:

[code]

I'm thinking it's fine for me to change this, but let me take a look.  If no bad side effects should be an easy fix.

[2021-07-22 18:41] datasushi commented on #342
Went ahead and checked with regular Svelte, looks like this behaviour is intended, see here:
https://github.com/sveltejs/svelte/issues/6197

[2021-07-22 19:21] shaozi opened #343 "Toast close button does not have white color"
When toast header has dark background, there is no way to set toggle button to white.

Need an option to add 'btn-close-white' class to it. Maybe add a "toggle-white" prop ?

[2021-07-22 20:28] bestguy commented on #342
Ah thanks!

[2021-07-22 20:29] bestguy commented on #343
Oh thanks, didn't know this was a class available

[2021-07-22 20:43] shaozi commented on #337
@bestguy I don't know how to convert such a thing into a library. But I created a demo with Toast. Please take a look at this repo: https://github.com/shaozi/sveltestrap-notification

[2021-07-23 00:45] bestguy commented on #337
Great thank you, will do!

[2021-07-23 13:15] bestguy commented on #343
Hi @shaozi , actually I don't see how a Toast would be dark?
This doesn't seem to be built in: https://getbootstrap.com/docs/5.0/components/toasts/

Could you show or describe how you are making your Toast component?

[2021-07-23 14:39] shaozi commented on #343
In the example here: https://getbootstrap.com/docs/5.0/components/toasts/#color-schemes it set its bg to primary. You can change it to bg-dark.

To do the same with ToastHeader you got:

[code]

[2021-07-23 15:58] bestguy commented on #343
Ah thanks, I didn't realize that was in the docs.  I think I can see an option for this, I'll take a look in next days.

[2021-07-24 17:07] nstuyvesant opened #344 "Dependency error with SvelteKit v1.0.0-next.137"
Getting this error twice when I run the dev server `npm run dev -- --host --open`...

I am not referencing InlineContainer.svelte in any of my code but I am using Modal and Offcanvas which both reference it.

Using sveltestrap@5.5.0, SvelteKit 1.0.0-next.137, Svelte 3.40.2, vite 2.4.3, node 16.5.0

Got the same error creating a pristine project putting Offcanvas in the boilerplate index.svelte...

[2021-07-24 17:32] bestguy commented on #344
Hmm weird, let me see what's up

[2021-07-24 17:46] nstuyvesant commented on #344
Thanks - just updated my initial report with more details.

[2021-07-24 17:51] bestguy commented on #344
Hi @nstuyvesant, can you try this prerelease?

`npm install sveltestrap@5.5.1-0`

Am assuming should fix but please confirm and I can do a real release.

[2021-07-24 18:13] bestguy commented on #344
Actually disregard - trying this locally and still seeing:

`/.../my-app-test/node_modules/sveltestrap/src/node_modules/sveltestrap/src/InlineContainer.svelte`

What's up with this `node_modules/sveltestrap/src/node_modules` stuff?

[2021-07-24 18:40] bestguy commented on #344
Hey @nstuyvesant , I think I found the issue - Sveltekit freaks out because InlineContainer.svelte has no <script></script> tag in it.  This is not an issue with other tools so am assuming that's an error?

I have this PR which works around though: #345
Works fine for me locally but please try `npm install sveltestrap@5.5.1-3` to confirm.

[2021-07-24 19:52] nstuyvesant commented on #344
Thanks for this help! I can confirm sveltestrap@5.5.1-3 solves this issue.

I can also add that if a Svelte component has a <script></script> tag but nothing in it, the same problem occurs.

[2021-07-24 19:55] nstuyvesant commented on #344
Is this bug in SvelteKit or Svelte (seems like the former)? Do you want to log the issue on the appropriate Github repo or prefer for me to put it in?

[2021-07-24 19:58] nstuyvesant commented on #344
Actually, this issue was submitted already... https://github.com/sveltejs/kit/issues/2001

[2021-07-24 20:58] bestguy commented on #344
Cool thanks.  I'll release a new version with this workaround for the time being.

[2021-07-24 21:07] bestguy commented on #344
Released in `sveltestrap@5.5.1`, thanks for the heads up 👍

[2021-07-24 21:07] #344 closed

[2021-07-25 18:40] nstuyvesant commented on #344
Awesome - thanks for the quick turnaround!

[2021-07-27 17:26] xpuu commented on #121
You can whitelist specific classes in your [PurgCSS config](https://github.com/FullHuman/purgecss-docs/blob/master/whitelisting.md).

[2021-08-02 06:09] zfranco55 opened #346 "table with filter and select row"
is it possible to have an example and / or link for a table with search and be able to select a row, launching an event?

[2021-08-02 18:42] bestguy commented on #346
Hi @zfranco55 , maybe you could show a pic or mockup of what the end result would be?

[2021-08-02 21:04] zfranco55 commented on #346
like this:
https://www.primefaces.org/primevue/showcase/#/datatable/filter
and
https://www.primefaces.org/primevue/showcase/#/datatable/selection

[2021-08-02 22:08] zfranco55 commented on #346
or of this:
https://mdbootstrap.com/docs/b4/jquery/tables/search/#enable-disable-search

[2021-08-03 14:38] bestguy commented on #346
Hi @zfranco55 , we don't really have a data table implementation (mostly because people have different needs and ideas on how it should look and behave).  But filtering is fairly easy, even without a new component:

https://svelte.dev/repl/0429bd69748e44cdaeb8074c982f967d?version=3.41.0

I can take a look as selection too, but think would be similar to the above.

[2021-08-04 22:26] cstayyab commented on #30
Anyone working on `fluid` option for carousel? It sets class "container" of parent wrapper of Carousel but if we can provide option for `container-fluid` that would be great. If anyone isn't working on this I would be happy to implement this.

cc: @daytonlowell @bestguy

[2021-08-05 12:09] TimurAditazz opened #348 "what about multilevel dropdown?"
like https://mdbootstrap.com/docs/standard/extended/dropdown-multilevel/#

[2021-08-05 16:16] bestguy commented on #348
Hi @TimurAditazz ,
Thanks, that should be supported if you nest the menus, however this issue likely needs to be resolved first: #297

I'll take a look at this again.

[2021-08-06 07:21] TimurAditazz commented on #348
I tried a straightforward way but was not lucky - all submenu comes simultaneously in weird positions at least. Thanks

[2021-08-06 21:10] bestguy commented on #348
Hi @TimurAditazz , so this almost works as-is:  https://svelte.dev/repl/28dc6f65caf543d8934790ac1280b626?version=3.42.1
However, the outer menu does not close without clicking again outside.
Kind of surprised it works at all :-). But I see some improvements here, will take a look further.

[2021-08-07 07:27] lgirma opened #349 "Accordion nested inside a form will submit on expand/collapse"
**Problem:**

Suppose I have a form with an `Accordion` component nested inside.
When I expand or collapse using the accordion's header, the form will automatically be submitted.
This is because of the `<button>` element inside `AccordionItem` has no `type` attribute specified.

**Possible fix:**

Set the button type attribute inside the `AccordionHeader` as `type="button"`

[2021-08-07 13:11] bestguy commented on #349
Thanks for the catch.  I can take a look or PR welcome as well.

[2021-08-07 14:22] lgirma commented on #349
@bestguy Sure. Will create a PR later.

[2021-08-08 05:57] zfranco55 commented on #346
Thank you for the example, which is fine (I just need to change it for
upper and lower case).
is it also possible to have an example with the select row event, in which
I save the data in the store?

Il giorno mar 3 ago 2021 alle ore 16:38 bestguy ***@***.***>
ha scritto:

[2021-08-08 18:33] nstuyvesant opened #351 "SvelteStrap 5.5.1 and Bootstrap 5.1.0 - issue with Offcanvas"
After upgrading Bootstrap from 5.0.2 to 5.1.0 and using the Offcanvas in SvelteStrap 5.5.1, I started to see the gray backdrop overlaid on top of the Offcanvas content. I suspect it's due to this change in Bootstrap 5.1.0:

I suspect this will be easy to reproduce with [your samples](https://sveltestrap.js.org/?path=/story/components--offcanvas).

[2021-08-08 18:50] bestguy commented on #351
Thanks @nstuyvesant , hmm that's annoying they have that breaking change for a minor release.  I'll take a look.

[2021-08-09 03:37] bestguy commented on #351
Will leave open until new version is released. Thanks for heads up.

[2021-08-09 06:04] TimurAditazz commented on #348
Thank you @bestguy

[2021-08-09 13:56] nstuyvesant opened #353 "Suggestion for Pagination (with code example)"
There are a number of Svelte pagers out there of varying quality (svelte-paginate being one that doesn't use Bootstrap). Perhaps it would make sense to have similar capability in SvelteStrap?

Would submit this as a PR but day job is getting in the way of me writing tests.

This code I use for my Paginator.svelte component could be modified to use Pagination, PaginationItem, and PaginationLink eas

[2021-08-09 18:51] bestguy commented on #353
Great thanks!  Seems a good idea, let me take a look.

[2021-08-09 19:50] nstuyvesant opened #354 "TypeScript warning with TabContent example"
Getting a TypeScript warning in VS Code "Argument of type 'string' is not assignable to parameter of type 'never'.ts(2345)" and "Property 'detail' does not exist on type 'never'.ts(2339)" for the `<TabContent on:tab={(e) => (status = e.detail)}>`  line in the template when using TypeScript.
[code]

Tried typing the tab event handler...
[code]
but get warning on the same line: "Argument of type 'st

[2021-08-09 20:31] bestguy commented on #354
Hmm, thanks.  Let me see if I can repro

[2021-08-09 20:36] bestguy commented on #354
Actually, I think I know what's missing - we need the tab event here: https://github.com/bestguy/sveltestrap/blob/master/src/TabContent.d.ts#L11

I'll include in the next release this week, thanks for the catch.

[2021-08-09 20:42] nstuyvesant commented on #354
Fantastic - thanks for checking on it!

[2021-08-10 00:48] bestguy commented on #354
Will do release shortly in next day or two

[2021-08-10 02:11] nstuyvesant commented on #351
I can confirm sveltestrap@5.6.0 addressed my issue with Offcanvas and bootstrap@5.1.0. Closing this issue.

[2021-08-10 02:11] #351 closed

[2021-08-10 03:31] bestguy commented on #354
Should be good in [v5.6.0](https://github.com/bestguy/sveltestrap/releases/tag/v5.6.0) please confirm & close when you get a chance.

[2021-08-10 18:26] nstuyvesant commented on #354
Thanks - sveltestrap@5.6.0 resolved this.

[2021-08-10 18:26] #354 closed

[2021-08-12 08:55] miepian opened #357 "Uncontrolled Collapse can not work in mobile browser"
Uncontrolled Collapse can not work in mobile browser

[2021-08-12 16:49] bestguy commented on #357
Hi, this seems to work on mobile for me: https://sveltestrap.js.org/?path=/story/components--collapse

Could you clarify what you are seeing?

[2021-08-13 04:22] bestguy commented on #357
Thanks, we can take a look.  To confirm, you only see this in Dev tools? Or do see in actual mobile browser?

[2021-08-13 07:40] miepian commented on #357
Yes.issue exists on my Android 9 phone,both Eage,UC browser,QQ browser and wechat,even firefox.

[2021-08-13 14:06] bestguy commented on #357
Will release fix today

[2021-08-13 14:15] bestguy commented on #357
Hi @miepian , this should be fixed in [sveltestrap@5.6.1](https://github.com/bestguy/sveltestrap/releases/tag/v5.6.1), thanks for the heads up on the issue.

[2021-08-14 19:09] nstuyvesant opened #360 "Error when setting focus to Input component"
SvelteStrap: 5.6.1
Bootstrap: 5.1.0
Svelte: 3.42.1
SvelteKit: v1.0.0-next.147

Was calling focus() when the Modal opens and it was working with a standard HTML input. When I switched it to SvelteStrap's Input component, I started getting an error:

Here's the code up to that input with the HTML input (that worked) commented out:
[code]

[2021-08-14 19:16] bestguy commented on #360
Hi, you have to bind to the Input's `inner` prop, Svelte won't understand bind:this with custom components:

[code]

[2021-08-14 19:16] bestguy commented on #360
https://sveltestrap.js.org/?path=/story/components--inputs

[2021-08-14 19:19] nstuyvesant commented on #360
Oh... sorry about that and thanks for the correction!

[2021-08-14 19:20] #360 closed

[2021-08-15 21:23] Brawl345 opened #362 "Browser downloads all components in SvelteKit"
I'm somewhat confused by this. When I import a component (just a Button for example), it automatically downloads all other components:

![img](https://user-images.githubusercontent.com/5049892/129493265-2cb7bb81-2543-4a0b-bfe5-5eb2565b323d.png)

This makes e.g. reloading very slow since it has to load all components. I'm importing them like so:

`import { Button } from 'sveltestrap';`

When I use

[2021-08-16 00:27] bestguy commented on #362
Hi @Brawl345 , I've not been keeping up with the status of Sveltekit, as it seems to be changing quite a bit.
If you are using Sveltestrap in an SSR environment such as Sapper, the previous recommendation was you import the component src directly:

[code]

But I thought this was unnecessary in sveltekit.

[2021-08-16 10:40] Brawl345 commented on #362
Same problem with your import:
![img](https://user-images.githubusercontent.com/5049892/129551363-09059bae-c3bb-4fb8-bdb3-9be639157de4.png)

[2021-08-16 15:52] bestguy commented on #362
I'm not really sure what the recommended practice is with Sveltekit.  I'm assuming it's reading the index.js and seeing all the imports, but this works fine with sapper and rollup.  I'm happy to update our dist with whatever would improve this, but would need some help sorting through what Sveltekit needs here.

[2021-08-17 13:56] nstuyvesant opened #363 "Odd rendering of <Input> in Safari 14.1.2"
Looking at the samples of the **Input** component on https://sveltestrap.js.org/?path=/story/components--inputs, the rendering of types Date, Datetime, and Time show too much padding especially at the bottom of the Input.

Here's a screenshot on macOS 11.5.2 with Safari 14.1.2 (type="number" shown as well for comparison since it looks good):
![image](https://user-images.githubusercontent.com/57709

[2021-08-17 16:19] bestguy commented on #363
Thanks @nstuyvesant , I think this is a Bootstrap 5.1 CSS issue - am seeing the same on https://getbootstrap.com/docs/5.1/forms/form-control/#example if I change input types to date, etc:

<img width="878" alt="Screen Shot 2021-08-17 at 9 15 07 AM" src="https://user-images.githubusercontent.com/405608/129762984-9e5c64ab-5e74-4d65-8fd6-d34d3930cf0d.png">

[2021-08-17 20:57] nstuyvesant commented on #363
Confirmed that Bootstrap@5.1.0 is the culprit. Logged an issue to their repo:
https://github.com/twbs/bootstrap/issues/34760

[2021-08-17 20:57] #363 closed

[2021-08-19 09:09] datasushi opened #365 "Keydown Listener for "enter" code for Modals?"
Hi,
not sure if I am missing something but it seems like the modals listen to "escape" keydown events and close on them, for "enter" events however there doesn't seem to be anything out of the box.

I have tested using the following REPL to make sure it's not focus or something else. In the REPL you can click on the Open button and then into the modal, when pressing escape the modal will close, wh

[2021-08-19 15:47] bestguy commented on #365
Hi @datasushi,
Not sure what you mean by handling Enter, Bootstrap Modals do not respond to Enter either: https://getbootstrap.com/docs/5.1/components/modal/#how-it-works

Is this custom behavior you need, or do you mean something like autofocusing an inner button like this?
https://svelte.dev/repl/aac847deb62844f6ac31716c0354b09f?version=3.42.1

If so, it seems like autofocus could be improved, I

[2021-08-19 22:06] datasushi commented on #365
Hey @bestguy
thanks for taking the time to look into this. Haven't checked Bootstrap but if BS doesn't have anything out of the box then it makes sense that Sveltestrap doesn't either.

About your REPL, yes that's exactly the kind of thing I was looking for, it would be great if Svelte supported actions for components.
I have built a different workaround , you can check it out here if you want:
ht

[2021-08-19 22:06] #365 closed

[2021-08-19 22:09] #342 closed

[2021-08-22 10:07] cstayyab commented on #320
Is there any workaround to disable `.offcanvas-body` margin and padding until this is implemented?

[2021-08-22 13:19] bestguy commented on #320
Hi @cstayyab , yes I forgot to update this issue, we added the option to specify `body={false}` on the Offcanvas in sveltestrap@5.6.2.

You can see usage in this example under 'Custom Width and Content':
https://sveltestrap.js.org/?path=/story/components--offcanvas

[2021-08-24 19:58] konrad-pawlus opened #366 "DropdownMenu with dropdown-menu-lg-end or dropdown-menu-end (aligned to right)"
I am trying to create DropdownMenu in Navbar. Bootstrap specifies dropdown-menu-lg-end class.
Using end or end="true" doeas not seams to work. My menu when expanded is still left-aligned:

[code]

Is this supported? Maybe my configuration is wrong?

Thanks for help in advance!

[2021-08-25 13:56] obendi opened #367 "Selected value in Input type="select" lost."
Hi,

I have a group of Input elements with preloaded values:

[code]

When I change the value of one of the inputs, the selected value of the **Input Select** is lost.

Here there is a REPL showing it: https://svelte.dev/repl/e1fb4972879b4b21aa7a714060d7434e?version=3.42.3

Thanks!

[2021-08-25 14:50] bestguy commented on #367
Hi @obendi , hmm that's weird - I'm actually able to duplicate outside sveltestrap with any component that wraps a select:

https://svelte.dev/repl/f0e8ec9d58434f8a8491278f855bf8b5?version=3.42.3

Please see the "Select.svelte" in this repl:

[code]

Seems fine, is this a Svelte issue or am I misunderstanding binding in components?

[2021-08-25 15:08] obendi commented on #367
Hi @bestguy ,

Looks like it stop working in **Svelte** version: **3.42.2**.

With **3.42.1** works fine: https://svelte.dev/repl/f0e8ec9d58434f8a8491278f855bf8b5?version=3.42.1

If you see in [Svelte changelog](https://github.com/sveltejs/svelte/blob/master/CHANGELOG.md#3422), in **3.42.2** version are some changes related to `<select>` tag.

I've found this open issue: https://github.com/sveltej

[2021-08-25 15:52] konrad-pawlus commented on #366
I think it is, all components so far are ok, just this one behaves differently than expected. Let me know if you need any more details or screen. I am happy to help.

[2021-08-30 06:51] obendi commented on #367
Hi,

This has been fixed in Svelte 3.42.4 version: https://svelte.dev/repl/f0e8ec9d58434f8a8491278f855bf8b5?version=3.42.4

Thanks!

[2021-08-30 14:12] #367 closed

[2021-08-30 16:19] PGlivicky opened #369 "Error when removing opened Tooltip"
I'm getting a weird error (see below) when deleting an item from a list while the Tooltip by the delete button is active. I believe that the sveltestrap's Tooltip component is somehow responsible, but forgive me if I'm wrong - I'm still a Svelte noob :).

I distilled the error down to the following minimal example:

[code]

Then after clicking on the delete button "X", I get the following error:

[2021-08-30 18:22] bestguy commented on #369
Thanks for the heads up, will take a look

[2021-08-31 15:35] konrad-pawlus opened #370 "Unexpected behaviour of Row with multiple columns"
Hi, I'm using simple Row with 1, 2 or 3 columns depending on size. When used as in [example](https://sveltestrap.js.org/?path=/story/components--layout):

`<Row cols={{ lg: 3, md: 2, sm: 1 }}>`

and screen is smaller than "sm" multiple columns appear.

Replacing above definition with workaround:

`<Row cols={{ xl: 3, lg: 3, md: 2, sm: 1, xs: 1 }}>`

solves this problem.

In my understanding expect

[2021-09-01 18:12] coyotte508 opened #371 "Remove CardDeck component"
It's been removed in bootstrap 5: https://getbootstrap.com/docs/5.1/components/card/#masonry

[2021-09-02 20:38] nstuyvesant opened #373 "Error when evaluating SSR module /node_modules/sveltestrap/src/Dropdown.svelte (and others)"
Have been upgrading SvelteKit as new versions come out (now on 1.0.0-next.162).

Starting to see a few errors that may be related to new versions of vite bundled with it. Vite seems to be getting pickier about subordinate packages. I had to do a workaround for @carbon/telemetry as well.

[2021-09-03 02:26] bestguy commented on #373
Hi @nstuyvesant , thanks for the heads up.

This popper stuff is a real pain in the ass... their use of node.process in the main export does not work in svelte.repl or sapper, and the esm one doesn't work in SvelteKit...

Let me see if we can do our own fork of popper or something.

[2021-09-03 03:03] nstuyvesant commented on #373
I was running an experiment to see what would happen if all dependencies are brought up to current versions...
[code]

After comparing what changed in my package-lock.json, looks like the issue is @popperjs/core getting upgraded to 2.10.0.

bootstrap@5.1.0's package.json uses `^2.9.3` and sveltstrap@5.6.2 `^2.9.2` for @popperjs/core.

Perhaps both would be better with `~2.9.3` for now given this c

[2021-09-03 08:17] SimonNegrin opened #374 "Input type checkbox component export inner prop as FormCheck instead of HTMLElement"
I supposed this is an error and it should export the subjacent HTMLElement. I've taken a look to the FormCheck component and I think the fix would be change the lines with `bind:this={inner}` by `bind:inner`.

[2021-09-03 13:50] nstuyvesant commented on #373
Looks like there was a @popperjs/core release last night that reverted the exports:
https://github.com/popperjs/popper-core/pull/1362

[2021-09-03 13:55] bestguy commented on #373
Thanks @nstuyvesant  for the info.  Sorry am trying to catch up - should we pin to particular version of popper to avoid this?

[2021-09-03 13:56] nstuyvesant commented on #373
Should I close this here as it's not a sveltestrap issue per se or would you want to adjust this package's dependency?

Pinning to `~2.10.1` would probably be good as long as all your tests pass against it.

[2021-09-03 13:58] benmccann commented on #373
There's no need to pin. Anyone who installs now will get the latest working version

[2021-09-03 13:58] bestguy commented on #373
Weird as I'd have assumed them adding export maps would have helped the original issue 😅.

[2021-09-03 14:00] bestguy commented on #373
Thanks all for the help.

[2021-09-03 14:06] bestguy commented on #374
Hi @SimonNegrin ,
Not sure what you are looking to do, the `inner` ref is to allow access to things like triggering focus on the inner input element, which otherwise would not be available.  This is used in `Input` as well.

[2021-09-03 14:12] #373 closed

[2021-09-03 23:28] DaniAcu commented on #18
I'm new here, but I'm really happy to contribute. I'd like to know if we could change the folders a little bit. I mean currently we have a `__test__` folder with all our test. But I wondering if we could move more to a component folders with test and inplamentation in the same folder.

- src
  - Alert
    - Alert.svelte
    - Alert.spec.js
  - Button
    - Button.svelte
    - Button.spec.js

I thi